<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ metadata.courseTitle }}</title>
    {% coreStyles %}
    <link rel="stylesheet" href="styles.css"/>
  </head>
  <body class="relative">
    {% lmsBanner %}
    <header class="ians-welcome-page-title">
      <div class="ians-column-wide-2 ians-grid-2 oj-grid-intro">
        <h1>{{ metadata.courseTitle }}</h1>

        <p>Hi
					Welcome to the Practical Training Instructor course for
					<strong>On-the-Job Training Instructors</strong> (OJTI) and
					<strong>Synthetic Training Device Instructors</strong>
					(STDI). The objective of this course is to prepare you to become a
					<strong>competent</strong> instructor who has the knowledge and skills
					required to train student or trainee air traffic controllers in either
					the <strong>operational</strong> or
					<strong>simulated</strong> environment. We are looking forward to
					meeting you both virtually and in person when you come to EUROCONTROL ALC in a
					few weeks' time.
				</p>
        <img class="oj-icon-all-4" src="images/icon-chain-all-4-v2.svg" alt="">
      </div>
    </header>
    <main class="">
      <div class="ians-column">
        <p>
					This is a <strong>European</strong> regulated course that has been
					approved by the
					<strong>Belgian&nbsp;Regulatory&nbsp;Authority</strong> and chosen by
					your ANSP for the issuance of an OJTI or STDI endorsement on your
					licence. If you are attending this course from outside of Europe, you
					are of course very welcome, as all instructing
					<strong>techniques</strong> and the <strong>theory</strong> behind
					instructing and coaching are relevant no matter where you come from.
					Please bear in mind however that the section on the regulatory
					environment and requirements for the issue of an OJTI/STDI endorsement
					are <strong>specific</strong> to the European regulatory environment.
				</p>

      </div>
      <div class="ians-column-wide-4">
        <p class="">
          <strong>The course is divided into the following components:</strong>
        </p>
        <div class="ians-grid-4 oj-grid-components oj-notched">
          <div>
            <h3>E-Learning<br/>component</h3>

            <p>
							You are doing this component now and have five weeks to complete
							it.
						</p>
          </div>

          <div>
            <h3>Virtual<br/>component</h3>

            <p>
							You will be invited to two virtual sessions in the week before you
							come to ALC to complete the practical component. These sessions
							will cover theory revision/prep for exam and simulator/airspace
							briefing.
						</p>
          </div>

          <div>
            <h3>Virtual theory<br/>exam</h3>

            <p>
							Conducted on the Thursday 10 days before you come to ALC to complete the
							practical component.
						</p>
          </div>

          <div>
            <h3>Practical component<br/>at ALC</h3>

            <p>
							You will come to ALC to complete five days of practice and
							assessment in the simulator.
						</p>
          </div>
        </div>
      </div>
      <div class="ians-column">
        <p>
					This eLearning component will provide you with the theory and
					knowledge needed to complete the practical part of the course. It is
					divided into the following subjects:
				</p>

        <div class="oj-grid-chain">
          <div>
            <h3>The Training Organisation</h3>
          </div>
          <div>
            <h3>Human Factors</h3>
          </div>
          <div><img  src="images/icon-chain-all-4-v3.svg" alt=""></div>
          <div>
            <h3>The structured OJTI session</h3>
          </div>
          <div>
            <h3>Assessment Methods and Report Writing</h3>
          </div>
        </div>

        <p>
					Successful OJTIs and STDI's are eager to <strong>learn new skills</strong> and <strong>develop</strong>
					their instructing competencies. They are <strong>flexible</strong> enough to change old
					ways when change is called for and are willing to <strong>reflect</strong> on their
					behaviours and that of their organisation on a regular basis. Mature
					training organisations encourage their personnel to strive for
					<strong>continuous improvement</strong> and ensure that their training standards and
					working practices are "fit for purpose".
				</p>

        <p>
					We have no doubt that over the next few weeks you will find yourself
					thinking a lot about yourself, your organisation and your future
					students. It is always beneficial to think back to your own
					experiences as a student ATCO or when you undertook more training for
					additional endorsements. Take time to reflect on <strong>what went well</strong> and
					<strong>what could have been done better</strong> to assist you in achieving the
					required standard set by your organisation.
				</p>

        <p>
					The course includes a <strong>theoretical examination</strong> and a <strong>practical assessment</strong>. The theoretical examination is based on the content of
					this eLearning component. You must achieve a pass mark of 
					
					<strong>75% or above</strong>. 25-30 questions are randomly selected from a question data bank
					and you will have <strong>one hour</strong> to complete the exam.
				</p>

        <div class="oj-elearn-container my-12">
          <p  id="oj-elearn-title" >eLearning</p>
          <div class="oj-exam-container">
            <p class="ians-text-instruction" id="oj-exam-title">Theoretical examination</p>
            <p id="oj-exam-qs">25-30 random questions</p>
            <p id="oj-exam-pass-rate">75% pass rate</p>
            <div class="oj-exam-bar">
              <span id="oj-exam-bar-tick">&#10004;</span>
              <span id="oj-exam-bar-cross">X</span>
            </div>
          </div>
        </div>

        <p>
					The conduct of the practical component, including the assessment will
					be explained during the <strong>virtual sessions</strong> that take place <strong>two weeks before you arrive at ALC</strong>.
				</p>

        <p>
					While you are studying the eLearning component of the course, you may
					contact the course manager if you have any questions about the
					content. Please note that the course manager will reply as soon as
					possible but may not be able to do so immediately.
				</p>

        <p class="mb-10">We hope that you enjoy this part of the course.</p>

      </div>

      <div class="ians-column-wide-2">

        <!-- <hr> -->

        <div class="oj-note oj-notched my-12">
          <h3>A note about terminology:</h3>

          <p>
						During this course, the terms "<strong>Student</strong>" and
						"<strong>Trainee</strong>" have the same meaning and are
						<strong>interchangeable</strong>.
					</p>

          <p>
						The term "OJTI" will be used predominantly as opposed to
						differentiating between <strong>OJTI</stron> and <strong>STDI</strong>. Nonetheless, when material
						relates to "live traffic" situations it is relevant to the
						<strong>OJTI only</strong>.
					</p>

          {# <img class="oj-image-footer" src="images/ojti-live-in-icon.png" alt=""> #}

        </div>

      </div>
    </main>

    <footer>
      <p>&copy; EUROCONTROL</p>
    </footer>

    <script type="module" src="./main.js"></script>
    {% scrollToTop %}
  </body>
</html>