<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Structure of ATCO training</title>
    {% coreStyles %}
    <link rel="stylesheet" href="styles.css"/>
  </head>
  <body class="relative">
    {% lmsBanner %}
    <header class="ians-column-wide-1">
      <p class="ians-breadcrumb">
				The Training Organisation&nbsp;/
				<img
					class="oj-header-chain"
					src="images/icon-chain.svg"
					alt="chain link icon"
				/>
      </p>
      <h1>Structure of ATCO training</h1>
    </header>
    <main>
      <div class="ians-column">
        <p>
					As someone who is already an ATCO in Europe, you will be familiar with the way that training is structured into phases. Below is a diagram of these phases. 
				</p>
        <p class="ians-text-instruction">Select each part of the diagram (except Practical &amp; Assessor) to see a description.</p>

      </div>

      <div class="ians-column relative">

        <div class="oj-phases-pyramid-container">

          <button class="oj-close">X</button>

          <div class="oj-definitions"></div>

          <div class="oj-phases-pyramid">
            <div class="oj-phase oj-phase-1">
              <a id="initial-training" class="oj-phase-1-title" data-content="ojDefInitial">Initial Training</a>
              <div class="oj-phase-sections oj-phase-1-sections">
                <button class="oj-phase-1-section-1" data-content="ojDefBasic">Basic training</button>
                <button class="oj-phase-1-section-2" data-content="ojDefRating">Rating training</button>
              </div>
            </div>

            <div class="oj-phase oj-phase-2">
              <a id="unit-training" class="oj-phase-2-title" data-content="ojDefUnit">Unit Training</a>
              <div class="oj-phase-sections oj-phase-2-sections">
                <button class="oj-phase-2-section-1" data-content="ojDefTransitional">Transitional training</button>
                <button class="oj-phase-2-section-2" data-content="ojDefPreOJTI">Pre-OJTI training</button>
                <button class="oj-phase-2-section-3" data-content="ojDefOJTI">OJTI training</button>
              </div>
            </div>

            <div class="oj-phase oj-phase-3">
              <a id="continuation-training" class="oj-phase-3-title" data-content="ojDefContinuation">Continuation Training</a>
              <div class="oj-phase-sections oj-phase-3-sections">
                <button class="oj-phase-3-section-1" data-content="ojDefConversion">Conversion training</button>
                <button class="oj-phase-3-section-2" data-content="ojDefRefresher">Refresher training</button>
              </div>
            </div>

            <div class="oj-phase oj-phase-4">
              <a id="instructor-and-assessor" class="oj-phase-4-title">Practical Instructor<br/>&amp; Assessor</a>
              <div class="oj-phase-4-sections">
                <p class="oj-phase-sections oj-phase-4-section-1">Training</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="ians-column">
        <p class="oj-certificate-key  mb-12"><img src="images/certificate.svg" alt="Certificate icon"> Student ATCO licence.</p>

        <details class="oj-summary">
          <summary>Select to see full definitions</summary>
          <div>
            <p id="ojDefInitial">
              <strong>Initial training:</strong> leads to the issue of a student air traffic controller licence or to the issue of an additional rating and, if applicable, rating endorsement.
          </p>

            <p id="ojDefBasic" class="oj-summary-indent">
              <strong>Basic training:</strong> 	theoretical and	practical training designed to impart fundamental knowledge and practical skills related to basic operational procedures.</p>
            <p id="ojDefRating" class="oj-summary-indent">
              <strong>Rating training:</strong> theoretical and	practical training designed to impart knowledge and practical skills related to a specific rating and, if apppcable, to rating endorsement.</li>

            <p id="ojDefUnit">
              <strong>Unit training:</strong>  leads to the issue of an air traffic controller licence, the issue of a rating endorsement, the validation of rating(s) or rating endorsement(s) and/or the issue or renewal of a unit endorsement.</p>

            <p id="ojDefTransitional" class="oj-summary-indent">
              <strong>Transitional training</strong> phase, designed primarily to impart knowledge and understanding of site-specific operational procedures and task-specific aspects; and</p>

            <p id="ojDefPreOJTI" class="oj-summary-indent">
              <strong>Pre-OJTI training</strong> for unit endorsement(s) that require the handling of complex and dense traffic situations, a pre-on-the-job training phase is required to enhance the previously acquired rating routines and skills and to prepare for live traffic situations which may be encountered in that unit;</p>

            <p id="ojDefOJTI" class="oj-summary-indent">
              <strong>OJTI training</strong> phase, which is the final phase of unit training during which previously acquired job-related routines and skills are integrated in practice under the supervision of a qualified on-the-job training instructor in a live traffic situation.</p>

            <p id="ojDefContinuation">
              <strong>Continuation training:</strong> designed to maintain the validity of the endorsements of the licence.</p>

            <p id="ojDefRefresher" class="oj-summary-indent">
              <strong>Refresher training:</strong> designed to review, reinforce or enhance the existing knowledge and skills of air traffic controllers to provide a safe, orderly and expeditious flow of air traffic.</p>

            <p id="ojDefConversion" class="oj-summary-indent">
              <strong>Conversion training:</strong> designed to provide knowledge and skills appropriate to a change in the operational environment and shall be provided by training organisations when the safety assessment of the change concludes the need for such training.</p>
          </div>

        </details>

        <p>When we cover the regulatory section we will go into a lot more detail, but for now, we want to look just a bit further into what happens during <strong>Unit training</strong>.</p>

        <p>Unit training is the training that allows an ATC or student ATCO to acquire the <strong>practical skills</strong> and <strong>site-specific knowledge</strong> needed to perform the job of an air traffic controller at that unit. More specifically, the European regulations <i class="oj-icon-doc">(AMC1 ATCO.D.005(a)(2) Types of air traffic controller training)</i> state that Unit training should be undertaken in the following instances:</p>

      </div>

      <div class="ians-column-wide-1 oj-unit-list">

        <div class="ians-column">

          <ul class="oj-list-alpha-lower list-inside">
            <li>the <strong>issue</strong> of an air traffic controller licence with a unit endorsement; </li>
            <li>the <strong>addition</strong> of a <strong>unit endorsement</strong> in an air traffic controller licence; </li>
            <li>the <strong>validation</strong> of a rating and rating endorsement, if applicable, in an existing licence;</li>
            <li>the <strong>addition of rating endorsement</strong> in an existing licence; and </li>
            <li>the <strong>renewal</strong> of an expired, suspended or revoked unit endorsement, where applicable.</li>
          </ul>

        </div>
      </div>

      <div class="ians-column">

        <p>Depending on how busy a unit is, the Unit training is made up of either two or three phases. If the unit is not busy and <strong>does not have simulation facilities</strong> then only  Transitional training  (i.e. the transition from Initial training to Unit training that typically introduces the trainee to the specifics and covers the knowledge aspects of what is required for that unit) and OJT training is completed. If however, <strong>the unit has simulation facilities</strong> (this typically because it needs to train the student in a complex and dense traffic environment before starting live training) then there is also a Pre-OJT phase.</p>

      </div>
    </main>

    <footer>
      <p>&copy; EUROCONTROL</p>
    </footer>

    <script type="module" src="./main.js"></script>
    {% scrollToTop %}
  </body>
</html>