<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>The OJTI Roles and Competencies</title>
    {% coreStyles %}
    <link rel="stylesheet" href="tabs.css"/>
    <link rel="stylesheet" href="styles.css"/>
  </head>
  <body class="relative">
    {% lmsBanner %}
    <header class="ians-column-wide-1">
      <p class="ians-breadcrumb">The Training Organisation&nbsp;/ <img class="oj-header-chain" src="images/icon-chain.svg" alt="chain link icon"/></p>
      <h1>The OJTI Roles and Competencies</h1>
    </header>
    <main>
      <div class="ians-column">
        <h2 class="oj-pt0-important">What makes a good instructor?</h2>
        <p>Take a moment to think about the instructors that you have had in the past. Even as a qualified ATCO, you will have seen other OJTIs delivering instruction to trainees. What makes some instructors good at their job?</p>

      </div>

      <div class="oj-hero"></div>

      <div class="ians-column">
        <p>ANSPs select candidates from their pool of air traffic controllers to develop as OJTIs. The methods used to make this selection are varied but <strong>should at least recognise</strong> that:</p>
      </div>

      <div class="ians-column-wide-3 mb-12">
        <ul class="ians-grid-3 oj-selection-list list-none">
          <li>A high performing air traffic controller does not necessarily make for a competent OJTI, as they must also have the motivation and ability to build up <strong>solid learning relationships</strong>, <strong>coach</strong> and <strong>mentor</strong> trainees and be able to <strong>self-reflect</strong> on their performance as an OJTI, even in challenging circumstances.</li>
          <li>An effective OJTI should be a competent ATCO who is <strong>respected</strong> and <strong>accepted</strong> in the operational environment.</li>
          <li>A strong desire to <strong>enable</strong> others to succeed is a powerful motivator for a potential OJTI which has obvious benefits for the trainee.</li>
          <li>The ATCO has already demonstrated commitment to 
						<strong>continuous improvement</strong>. </li>
          <li>The ATCO embodies the <strong>values</strong> and <strong>learning philosophy</strong> of the organisation.</li>
          <li>Some key OJTI <strong>competencies</strong> are already evident (e.g. Collaboration, Self-Assessment).</li>
        </ul>
      </div>

      <div class="ians-column">

        <p>Regulatory requirements may oblige ANSPs to select candidates who have gained a <strong>minimum</strong> number of years <strong>experience</strong> as an operational air traffic controller prior to becoming an OJTI. This can be problematic as candidates may be selected who do not have the motivators that will benefit the trainee but only themselves e.g. salary or grade enhancement.</p>

        <h2>Roles</h2>
        <p>
					Each ANSP or Training Organisation has an expectation of what roles
					their OJTI&apos;s will perform when engaged with trainees. Take a look
					at the following roles and <strong>reflect</strong> on whether your
					ANSP or Training Organisation expects you to perform all or some of
					these roles.
				</p>
      </div>

      <div class="ians-column-wide-3 mb-12">

        <section data-atabs>
          <div data-atabs-panel="default" data-atabs-tab-label="Teacher / Instructor">

            <div class="ians-grid-2">

              <div  class="oj-panel-padding">

                <p>You are expected to <strong>explain</strong> to a trainee how they should do or achieve something in the operational or simulated environment. You <strong>actively</strong> ensure that timely operational decisions are made and actions carried out as anticipated. You engage the trainee with <strong>questions or prompts</strong>.</p>

                <p>You have some basic understanding of <strong>pedagogical</strong> techniques and understand cognitive processes.</p>

              </div>

              {% image "images/roles-teacher_instructor.jpg", "A teacher talking to a student.", "oj-notched"%}
            </div>
          </div>

          <div data-atabs-panel data-atabs-tab-label="Coach">
            <div class="ians-grid-2">
              <div class="oj-panel-padding">
                <p>You are expected to <strong>support</strong> the trainee as they progress towards independent performance. You are no longer explaining how something should be done but rather guiding the trainee to <strong>work this out for themselves</strong>, formulate and carry out their own plan for the traffic, and monitor and adjust their <strong>plan independently</strong>.</p>

                <p>You can perform this coaching role with confidence because you have a clear understanding of your operational environment, and are able to predict the likely consequences and outcomes of the trainee's actions in that environment.</p>
              </div>
              {% image "images/roles-coach.jpg", "Coach and student at position.", "oj-notched" %}

            </div>
          </div>

          <div data-atabs-panel data-atabs-tab-label="Mentor">
            <div class="ians-grid-2">
              <div class="oj-panel-padding">

                <p>You are expected to encourage and support your trainees in developing positive attitudes and behaviours towards their training and integration into the team and wider professional environment.</p>
              </div>

              {% image "images/roles-mentor.jpg", "A mentor and student at position.", "oj-notched" %}
            </div>
          </div>

          <div data-atabs-panel data-atabs-tab-label="Assessor">
            <div class="ians-grid-2">

              <p class="oj-panel-padding">You <strong>evaluate the performance</strong> of your trainee to determine if the required competency standards are met. This evaluation may be in the context of formative or summative assessment.</p>

              {% image "images/roles-assessor.jpg", "An assessor observing a student.", "oj-notched" %}
            </div>
          </section>

        </div>

        {# <div class="oj-roles-full mb-10">
        <div class="ians-column">
          <!-- <h2 class="text-white text-center">Roles</h2>-->
          <iframe src="https://trainingzone.h5p.com/content/1291538674154000677/embed" width="1088" height="637" frameborder="0" allowfullscreen="allowfullscreen" allow="autoplay *; geolocation *; microphone *; camera *; midi *; encrypted-media *"></iframe>
          <script src="https://trainingzone.h5p.com/js/h5p-resizer.js" charset="UTF-8"></script>
        </div> #}

        {# <div class="ians-column-wide-2 oj-roles">
          <div class="ians-grid-2">
            <div class="shadow-md">
              <img src="images/roles-placeholder.jpg" alt="placeholder image"/>
              <h3>Teacher / Instructor</h3>

            </div>
            <div class="shadow-md oj-notched">
              <p>
								You are expected to <strong>explain</strong> to a trainee how
								they should do or achieve something in the operational or
								simulated environment. You <strong>actively</strong> ensure that
								timely operational decisions are made and actions carried out as
								anticipated. You engage the trainee with
								<strong>questions or prompts</strong>.
							</p>
              <p>
								You have some basic understanding of
								<strong>pedagogical</strong> techniques and understand cognitive
								processes.
							</p>
            </div>
          </div>
          <div class="ians-grid-2">
            <div class="shadow-md">
              <img src="images/roles-placeholder.jpg" alt="placeholder image"/>
              <h3>Coach</h3>

            </div>
            <div class="shadow-md oj-notched">
              <p>
								You are expected to <strong>support</strong> the trainee as they
								progress towards independent performance. You are no longer
								explaining how something should be done but rather guiding the
								trainee to <strong>work this out for themselves</strong>,
								formulate and carry out their own plan for the traffic, and
								monitor and adjust their <strong>plan independently</strong>.
							</p>
              <p>
								You can perform this coaching role with confidence because you
								have a clear understanding of your operational environment, and
								are able to predict the likely consequences and outcomes of the
								trainee&apos;s actions in that environment.
							</p>
            </div>
          </div>
          <div class="ians-grid-2">
            <div class="shadow-md">
              <img src="images/roles-placeholder.jpg" alt="placeholder image"/>
              <h3>Mentor</h3>

            </div>
            <div class="shadow-md oj-notched">
              <p>
								You are expected to encourage and support your trainees in
								developing
								<strong>positive attitudes and behaviours</strong> towards their
								training and integration into the team and wider professional
								environment.
							</p>
            </div>
          </div>
          <div class="ians-grid-2">
            <div class="shadow-md">
              <img src="images/roles-placeholder.jpg" alt="placeholder image"/>
              <h3>Assessor</h3>

            </div>
            <div class="shadow-md oj-notched">
              <p>
								You <strong>evaluate the performance</strong> of your trainee to
								determine if the required competency standards are met. This
								evaluation may be in the context of formative or summative
								assessment.
							</p>
            </div>
          </div>
        </div> #}
        {# </div> #}

        <div class="ians-column">
          <h2>Competencies</h2>

          <p>
					Certain expectations can arise from the belief that an OJTI should be
					an effective teacher, human factors expert, a mentor and, at times, a
					part-time ‘psychologist&apos;. The reality is that the OJTI is very
					<strong>seldom formally educated</strong> in any of these fields and
					their expertise will come from the training and development activities
					that are provided by the ANSP.
				</p>

          <p>
					No matter which combination of roles you are expected to perform, your
					OJTI job in operational training is a challenging one, so investing
					time in developing the competencies you need is critical for your
					success as an instructor.
				</p>

          <p>
					The competencies in the
					<strong>ICAO OJTI Competency Framework</strong> have already been
					mentioned but we are now going to look at them in more detail.
				</p>

          <p>
					Bear in mind that when an organisation develops their own adapted OJTI
					competency model, they may <strong>exclude or add</strong> competencies and observable
					behaviours depending on their expectation of what roles the instructor
					will perform. Take a look at each of the competencies below to get a
					general idea of why they are relevant and which observable behaviours
					are associated with them.
				</p>
          <p class="ians-text-instruction">
					Select the competencies below to read more detail and the ICAO
					<br/>Observable behaviours. If you prefer to scroll through the same text, open the "Show competencies text" drop down below.
				</p>
        </div>
        <div class="oj-comp-lowlight">
          <div class="ians-column-wide-4">
            <div class="oj-comp-container">
              <div>
                <div id="cloneSitAware">
                  {% image "images/situational_awareness.jpg", "Situational awareness.",	"oj-competency-image", null, [600] %}
                  <h3></h3>
                  <div>
                    <div class="oj-description"></div>
                    <div class="oj-objectives"></div>
                  </div>
                </div>
              </div>
              <div>
                <div id="cloneSafe">
                  {% image "images/safety_and_efficiency_mgmt.jpg", "Situational awareness.",	"oj-competency-image", null, [600] %}
                  <h3></h3>
                  <div>
                    <div class="oj-description"></div>
                    <div class="oj-objectives"></div>
                  </div>
                </div>
              </div>
              <div>
                <div id="cloneMentor">
                  {% image "images/mentoring.jpg", "Situational awareness.",	"oj-competency-image", null, [600] %}
                  <h3></h3>
                  <div>
                    <div class="oj-description"></div>
                    <div class="oj-objectives"></div>
                  </div>
                </div>
              </div>
              <div>
                <div id="cloneTeach">
                  {% image "images/teaching_instructing_coaching.jpg", "Situational awareness.",	"oj-competency-image", null, [600] %}
                  <h3></h3>
                  <div>
                    <div class="oj-description"></div>
                    <div class="oj-objectives"></div>
                  </div>
                </div>
              </div>
              <div>
                <div id="cloneComm">
                  {% image "images/communication.jpg", "Situational awareness.",	"oj-competency-image", null, [600] %}
                  <h3></h3>
                  <div>
                    <div class="oj-description"></div>
                    <div class="oj-objectives"></div>
                  </div>
                </div>
              </div>
              <div>
                <div id="cloneAssess">
                  {% image "images/assessment.jpg", "Situational awareness.",	"oj-competency-image", null, [600] %}
                  <h3></h3>
                  <div>
                    <div class="oj-description"></div>
                    <div class="oj-objectives"></div>
                  </div>
                </div>
              </div>
              <div>
                <div id="cloneCollab">
                  {% image "images/collaboration.jpg", "Situational awareness.",	"oj-competency-image", null, [600] %}
                  <h3></h3>
                  <div>
                    <div class="oj-description"></div>
                    <div class="oj-objectives"></div>
                  </div>
                </div>
              </div>
              <div>
                <div id="cloneSelf">
                  {% image "images/self-assessment.jpg", "Situational awareness.",	"oj-competency-image", null, [600] %}
                  <h3></h3>
                  <div>
                    <div class="oj-description"></div>
                    <div class="oj-objectives"></div>
                  </div>
                </div>
              </div>
              <div>
                <div id="cloneEthics">
                  {% image "images/ethics.jpg", "Situational awareness.",	"oj-competency-image", null, [600] %}
                  <h3></h3>
                  <div>
                    <div class="oj-description"></div>
                    <div class="oj-objectives"></div>
                  </div>
                </div>
              </div>
              <button id="ojCompsCloseButton">
                <svg
							xmlns="http://www.w3.org/2000/svg"
							class="h-6 w-6"
							fill="none"
							viewBox="0 0 24 24"
							stroke="currentColor"
						>
                  <path
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="M6 18L18 6M6 6l12 12"
							/>
                </svg>
              </button>
            </div>
          </div>

          <details class="my-12 oj-comp-text-container" open>
            <summary>Show competencies text</summary>
            <div class="ians-grid-2 ians-column-wide-4">
              <div id="sourceSitAware" class="ians-column">
                <h3>Situational Awareness</h3>
                <div class="oj-description">
                  <p>
									One of the key competencies for an ATCO is situational
									awareness, but for an OJTI this competency extends further
									than situational awareness in relation to only the traffic
									situation. An OJTI should have the additional capacity to
									maintain situational awareness in relation to the impact the
									trainee&apos;s performance is having on the surrounding
									sectors and/or units.
								</p>

                  <p>
									More importantly, OJTIs should be aware of their
									trainee&apos;s current mental and emotional state so that they
									can take timely steps to prevent cognitive overload or extreme
									stress reactions. As such, the OJTI should be able to
									recognise the early signs of cognitive overload and unhealthy
									stress.
								</p>
                </div>

                <div class="oj-objectives">
                  <p class="oj-objectives-header">
									ICAO Competency Framework Observable behaviours (OB):
								</p>
                  <div class="oj-objectives-list">
                    <p>
                      <strong>Competency: </strong
										>
                      <span class="oj-objectives-competency"></span>
                    </p>
                    <p class="mb-0">
                      <strong>Description: </strong>
                    </p>
                    <p class="mt-0 oj-objective-definition">
										Comprehends current operational situation, anticipates
										future events and the impact of the trainee’s performance on
										the operation.
									</p>
                    <p>
                      <strong>Observable behaviours (OB):</strong>
                    </p>
                    <ul>
                      <li>
                        <strong>OB 1.1</strong> Maintains own situational
											awareness while instructing
										</li>
                      <li>
                        <strong>OB 1.2</strong> Monitors impact of trainee’s
											actions on the traffic situation
										</li>
                      <li>
                        <strong>OB 1.3</strong> Monitors impact of trainee’s
											actions on adjacent sectors
										</li>
                      <li>
                        <strong>OB 1.4</strong> Monitors the trainee’s actions
											continuously
										</li>
                      <li>
                        <strong>OB 1.5</strong> Monitors the trainee’s behaviour
											for physical signs of cognitive overload or acute stress
										</li>
                    </ul>
                  </div>

                  <div class="oj-objectives-table"></div>
                </div>
              </div>

              <div id="sourceSafe" class="ians-column">
                <h3>Safety &amp; Efficiency Management</h3>
                <div class="oj-description">
                  <p>
									Safety is without any doubt a determining factor in deciding
									when to intervene with a trainee&apos;s actions, but what may
									be less clear for an OJTI is when to intervene if efficiency
									is compromised but there is no safety risk. In this case, the
									OJTI should be aware of the organization&apos;s efficiency
									goals. These may be addressed through the UTP and/or by OJTI
									harmonisation training within the Unit.
								</p>
                </div>
                <div class="oj-objectives">
                  <p class="oj-objectives-header">
									ICAO Competency Framework Observable behaviours (OB):
								</p>
                  <div class="oj-objectives-list">
                    <p>
                      <strong>Competency: </strong
										>
                      <span class="oj-objectives-competency"></span>
                    </p>
                    <p class="mb-0">
                      <strong>Description: </strong>
                    </p>
                    <p class="mt-0 oj-objective-definition">
										Ensures safety and efficiency of the operation during
										training
									</p>
                    <p>
                      <strong>Observable behaviours (OB):</strong>
                    </p>
                    <ul>
                      <li>
                        <strong>OB 2.1</strong> Prioritises safety above teaching
											the trainee
										</li>
                      <li>
                        <strong>OB 2.2</strong> Takes action to ensure safety is
											never compromised (e.g. correct errors, take over control)
										</li>
                      <li>
                        <strong>OB 2.3</strong> Intervenes in a timely manner to
											maintain an orderly flow of traffic, when appropriate, and
											to ensure that safety is not compromised
										</li>
                      <li>
                        <strong>OB 2.4</strong> Ensures traffic efficiency is
											maintained, including impact on adjacent sectors
										</li>
                      <li>
                        <strong>OB 2.5</strong> Manages own and trainee’s workload
											to ensure safe and efficient operations (e.g. sector
											splitting, increased spacing, adapting instructional
											techniques)
										</li>
                    </ul>
                  </div>
                  <div class="oj-objectives-table"></div>
                </div>
              </div>
              <div id="sourceMentor" class="ians-column">
                <h3>Mentoring</h3>
                <div class="oj-description">
                  <p>
									Usually a mentor is assigned to a trainee to support them as
									they develop in their career. In ATCO training, a mentor may
									be an OJTI who is not actively involved in providing
									on-the-job training for that trainee. In some ANSPs the mentor
									may not be an air traffic controller.
								</p>

                  <p>
									Regardless of the way in which an ANSP assigns the mentoring
									role, there are some mentoring behaviours the OJTI should
									display that will enhance trainee&apos;s learning experience.
									These include promoting positive working relationships, a
									positive approach to training and helping them to build their
									confidence in the workplace. If the trainee is assigned to a
									team, all the team members could play a mentoring role for the
									trainee.
								</p>
                </div>
                <div class="oj-objectives">
                  <p class="oj-objectives-header">
									ICAO Competency Framework Observable behaviours (OB):
								</p>
                  <div class="oj-objectives-list">
                    <p>
                      <strong>Competency: </strong
										>
                      <span class="oj-objectives-competency"></span>
                    </p>
                    <p class="mb-0">
                      <strong>Description: </strong>
                    </p>
                    <p class="mt-0 oj-objective-definition">
										Supports trainee integration into the professional
										environment by mentoring, advising, guiding and creating a
										positive learning experience.
									</p>
                    <p>
                      <strong>Observable behaviours (OB):</strong>
                    </p>
                    <ul>
                      <li>
                        <strong>OB 3.1</strong> Develops a rapport with the
											trainee and provides encouragement and support
										</li>
                      <li>
                        <strong>OB 3.2</strong> Promotes positive working
											relationships
										</li>
                      <li>
                        <strong>OB 3.3</strong> Encourages a positive approach to
											learning
										</li>
                      <li>
                        <strong>OB 3.4</strong> Demonstrates empathy and
											understanding, recognising situations when extra support
											is required
										</li>
                      <li>
                        <strong>OB 3.5</strong> Encourages trainee to self-reflect
											to identify strengths and weaknesses and areas for
											improvement
										</li>
                      <li>
                        <strong>OB 3.6</strong> Encourages trainee to look for
											positive learning experiences from each training session,
											even those that did not go well
										</li>
                      <li>
                        <strong>OB 3.7</strong> Encourages trainee to extract
											maximum training value from any feedback, including
											negative points
										</li>
                      <li>
                        <strong>OB 3.8</strong> Encourages trainee to ask
											questions as part of the overall learning experience
										</li>
                      <li>
                        <strong>OB 3.9</strong> Helps trainee to build and
											maintain confidence through encouragement and motivation
										</li>
                      <li>
                        <strong>OB 3.10</strong> Ensures sufficient repetition of
											learning activities
										</li>
                      <li>
                        <strong>OB 3.11</strong> Ensures opportunities for
											increasing complexity
										</li>
                    </ul>
                  </div>
                  <div class="oj-objectives-table"></div>
                </div>
              </div>

              <div id="sourceTeach" class="ians-column">
                <h3>Teaching, Instructing and Coaching</h3>
                <div class="oj-description">
                  <p>
									This competency recognises that the OJTI provides different
									levels of learning support at different stages of training.
									During the early stages of OJT, the trainee may be learning
									routines and traffic flows with active teaching from the OJTI.
									It may be appropriate at this stage for the OJTI to provide
									clear and positive instructions to the trainee on, for
									example, what to prioritize and how to manage certain
									situations, with reflection coming later during the
									debriefing. As the trainee gains confidence, the OJTI enables
									the trainee to start controlling independently through various
									coaching techniques. Towards the end of the training, the OJTI
									is primarily monitoring and facilitating trainees&apos;
									self-reflection on their performance.
								</p>
                </div>
                <div class="oj-objectives">
                  <p class="oj-objectives-header">
									ICAO Competency Framework Observable behaviours (OB):
								</p>
                  <div class="oj-objectives-list">
                    <p>
                      <strong>Competency: </strong
										>
                      <span class="oj-objectives-competency"></span>
                    </p>
                    <p class="mb-0">
                      <strong>Description: </strong>
                    </p>
                    <p class="mt-0 oj-objective-definition">
										Provides instruction and facilitates learning in the
										operational environment.
									</p>
                    <p>
                      <strong>Observable behaviours (OB):</strong>
                    </p>
                    <ul>
                      <li>
                        <strong>OB 4.1</strong> Prepares to deliver tailored
											training for each training session, briefs the trainee
											prior to taking over the operational position and ensures
											the trainee understands what is required of him/her
										</li>
                      <li>
                        <strong>OB 4.2</strong> Sets the goals for the session and
											explains clearly to the trainee the expected performance
											standards
										</li>
                      <li>
                        <strong>OB 4.3</strong> Ensures the trainee understands
											the operational situation prior to assuming control
										</li>
                      <li>
                        <strong>OB 4.4</strong> Maintains appropriate seating
											position and proximity to the trainee
										</li>
                      <li>
                        <strong>OB 4.5</strong> Uses targeted training techniques
											to enable learning (e.g. talk aloud problem-solving
											techniques, demonstration, immediate bad habit correction,
											trainee involvement, questioning techniques)
										</li>
                      <li>
                        <strong>OB 4.6</strong> Adapts training techniques and
											style to meet the needs of the trainee
										</li>
                      <li>
                        <strong>OB 4.7</strong> Ensures appropriate timing of
											teaching opportunities
										</li>
                      <li>
                        <strong>OB 4.8</strong> Recognises and responds
											appropriately to the trainee’s behaviour (e.g. stress,
											under confidence, over-confidence)
										</li>
                      <li>
                        <strong>OB 4.9</strong> Allows the trainee to make
											decisions appropriate to their level of competence and
											experience
										</li>
                      <li>
                        <strong>OB 4.10</strong> Confirms understanding of the
											trainee’s intended actions and plans (e.g. using
											questioning techniques) and, when appropriate, trusts the
											trainee to try their own plans
										</li>
                      <li>
                        <strong>OB 4.11</strong> Remains calm when taking control
											from the trainee in circumstances dictating this type of
											intervention
										</li>
                      <li>
                        <strong>OB 4.12</strong> Provides constructive and
											balanced feedback in a timely and appropriate manner
										</li>
                      <li>
                        <strong>OB 4.13</strong> Debriefs the trainee after the
											operational session to review the performance emphasising
											positive actions, areas to work on and strategies for
											improvement
										</li>
                      <li>
                        <strong>OB 4.14</strong> Helps trainee to develop
											strategies to overcome any gaps in competencies
										</li>
                    </ul>
                  </div>
                  <div class="oj-objectives-table"></div>
                </div>
              </div>

              <div id="sourceComm" class="ians-column">
                <h3>Communication</h3>
                <div class="oj-description">
                  <p>
									Communicating in an OJTI context can be a complex activity.
									Not only does the OJTI need to consider what they are saying
									to the trainee and how, but also if it is the right time to
									say it. They also need to take into account the way in which
									the message or question is delivered so as to convey the
									appropriate amount of concern or urgency.
								</p>
                </div>
                <div class="oj-objectives">
                  <p class="oj-objectives-header">
									ICAO Competency Framework Observable behaviours (OB):
								</p>
                  <div class="oj-objectives-list">
                    <p>
                      <strong>Competency: </strong
										>
                      <span class="oj-objectives-competency"></span>
                    </p>
                    <p class="mb-0">
                      <strong>Description: </strong>
                    </p>
                    <p class="mt-0 oj-objective-definition">
										Communicates effectively with the trainee in verbal,
										non-verbal and written form
									</p>
                    <p>
                      <strong>Observable behaviours (OB):</strong>
                    </p>
                    <ul>
                      <li>
                        <strong>OB 5.1</strong> Listens actively</li>
                      <li>
                        <strong>OB 5.2</strong> Encourages constructive discussion
											about the trainee’s performance
										</li>
                      <li>
                        <strong>OB 5.3</strong> Speaks clearly, accurately and in
											a calm and measured manner
										</li>
                      <li>
                        <strong>OB 5.4</strong> Adjusts speech techniques to suit
											the operational and/or instructional situation (e.g.
											conveys a sense of urgency, speaks calmly)
										</li>
                      <li>
                        <strong>OB 5.5</strong> Adapts content of communication to
											the needs of the trainee (e.g. does not overload with too
											much information)
										</li>
                      <li>
                        <strong>OB 5.6</strong> Explains complex situations
											clearly (e.g. traffic situations, application of
											procedures, management of emergencies)
										</li>
                      <li>
                        <strong>OB 5.7</strong> Explains cognitive strategies
											clearly (e.g. how to analyse situations, prioritize,
											select a course of action, distribute attention)
										</li>
                      <li>
                        <strong>OB 5.8</strong> Does not allow explanations or
											questions to cause a distraction
										</li>
                      <li>
                        <strong>OB 5.9</strong> Delivers difficult messages with
											tact and sensitivity
										</li>
                      <li>
                        <strong>OB 5.10</strong> Writes objective and
											comprehensive reports on the trainee’s performance
										</li>
                    </ul>
                  </div>
                  <div class="oj-objectives-table"></div>
                </div>
              </div>

              <div id="sourceAssess" class="ians-column">
                <h3>Assessment</h3>
                <div class="oj-description">
                  <p>
									This competency is related to both formative and summative
									assessments. In the context of formative assessments, the
									observable behaviours are focussed on evaluating
									trainees&apos; performance for learning purposes. OJTIs should
									be able to analyse trainee&apos;s performance so that they can
									determine if it is competent, or if not, the root cause of
									performance issues and then work out the remedial actions
									required to overcome those issues.
								</p>

                  <p>
									Within an ANSP, the conduct of the summative assessments may
									be formalized as a separate assessor role. In this case, the
									assessor would be responsible for determining if a trainee
									meets the intermediate milestone or final competency standard.
									As has already been mentioned it is vital that assessment by
									OJTIs is harmonised. If all OJTIs within a Unit were to view
									the same performance by a trainee they should all assess it at
									the same level.
								</p>
                </div>
                <div class="oj-objectives">
                  <p class="oj-objectives-header">
									ICAO Competency Framework Observable behaviours (OB):
								</p>
                  <div class="oj-objectives-list">
                    <p>
                      <strong>Competency: </strong
										>
                      <span class="oj-objectives-competency"></span>
                    </p>
                    <p class="mb-0">
                      <strong>Description: </strong>
                    </p>
                    <p class="mt-0 oj-objective-definition">
										Evaluates the performance of the trainee for the purposes of
										enabling learning, monitoring progress and/or determining if
										competence has been achieved
									</p>
                    <p>
                      <strong>Observable behaviours (OB):</strong>
                    </p>
                    <ul>
                      <li>
                        <strong>OB 6.1</strong> Gathers factual evidence of the
											trainee’s performance against the objectives
										</li>
                      <li>
                        <strong>OB 6.2</strong> Gathers factual evidence for all
											the required competencies
										</li>
                      <li>
                        <strong>OB 6.3</strong> Evaluates the trainee’s
											performance in relation to the competencies and previously
											set goals and performance standards
										</li>
                      <li>
                        <strong>OB 6.4</strong> Analyses poor performance to
											determine root causes, when appropriate
										</li>
                      <li>
                        <strong>OB 6.5</strong> Determines remedial actions
											required to address deficiencies in performance, when
											appropriate
										</li>
                      <li>
                        <strong>OB 6.6</strong> Determines if the evidence
											gathered, supports a decision that the trainee is
											competent
										</li>
                      <li>
                        <strong>OB 6.7</strong> Applies consistent standards when
											assessing performance
										</li>
                    </ul>
                  </div>
                  <div class="oj-objectives-table"></div>
                </div>
              </div>

              <div id="sourceCollab" class="ians-column">
                <h3>Collaboration</h3>
                <div class="oj-description">
                  <p>
									Within an ANSP, there are a number of contributors to the
									eventual success of a trainee. Some of these contributors,
									such as OJTIs and the training team, are in routine contact
									with the trainee and have a significant role to play in
									enabling the trainee to achieve competence. Collaborating with
									this team to ensure that the trainee gets the best possible
									training experience improves the likelihood of a successful
									training outcome.
								</p>

                  <p>
									However, it is not only the training team and OJTIs that play
									a role. Human factors specialists, mentors, resilience coaches
									and learning specialists are just some of the personnel who
									can contribute to the success of the trainee. For an OJTI,
									knowing who else in the organization can help, and, as the
									frontline support for the trainee, knowing when such
									assistance is necessary, ensures that the trainee is given
									every opportunity to succeed.
								</p>
                </div>
                <div class="oj-objectives">
                  <p class="oj-objectives-header">
									ICAO Competency Framework Observable behaviours (OB):
								</p>
                  <div class="oj-objectives-list">
                    <p>
                      <strong>Competency: </strong
										>
                      <span class="oj-objectives-competency"></span>
                    </p>
                    <p class="mb-0">
                      <strong>Description: </strong>
                    </p>
                    <p class="mt-0 oj-objective-definition">
										Collaborates with relevant parties to facilitate a robust
										training experience for the trainee.
									</p>
                    <p>
                      <strong>Observable behaviours (OB):</strong>
                    </p>
                    <ul>
                      <li>
                        <strong>OB 7.1</strong> Gathers relevant information in
											advance for the purpose of tailoring the training approach
											and to maximise productivity of the training session (e.g.
											from the training organization, human resources
											department, previous training reports)
										</li>
                      <li>
                        <strong>OB 7.2</strong> Engages with the trainee, other
											instructors and the training manager(s) for the purposes
											of tailoring the training approach
										</li>
                      <li>
                        <strong>OB 7.3</strong> Requests supplementary resources
											to help the trainee, when required (e.g. learning support
											specialist, counselling, additional practice on a
											simulator)
										</li>
                      <li>
                        <strong>OB 7.4</strong> Contributes information on the
											trainee’s progress to the training team
										</li>
                    </ul>
                  </div>
                  <div class="oj-objectives-table"></div>
                </div>
              </div>

              <div id="sourceSelf" class="ians-column">
                <h3>Self-Assessment</h3>
                <div class="oj-description">
                  <p>
									Reflective competence is recognised as a strong trait of an
									effective OJTI and the behaviours described in this competency
									are focussed on self-assessment to improve the OJTIs
									instructional capabilities. Self-assessment is a key driver
									for continuous learning and professional growth. All highly
									skilled instructors engage in regular self-assessment and
									continuous education aimed at developing the OJTIs&apos;
									instructional capacity to better serve the learning needs of
									trainees. Feedback from regular OJTI Assessment checks should
									be considered and acted upon, together with feedback from
									other sources e.g. trainee, colleagues, OJTIs.
								</p>
                </div>
                <div class="oj-objectives">
                  <p class="oj-objectives-header">
									ICAO Competency Framework Observable behaviours (OB):
								</p>
                  <div class="oj-objectives-list">
                    <p>
                      <strong>Competency: </strong
										>
                      <span class="oj-objectives-competency"></span>
                    </p>
                    <p class="mb-0">
                      <strong>Description: </strong>
                    </p>
                    <p class="mt-0 oj-objective-definition">
										Improves teaching, instructional and coaching capabilities
										through selfassessment
									</p>
                    <p>
                      <strong>Observable behaviours (OB):</strong>
                    </p>
                    <ul>
                      <li>
                        <strong>OB 8.1</strong> Remains open to feedback</li>
                      <li>
                        <strong>OB 8.2</strong> Improves performance based on
											accurate and balanced feedback
										</li>
                      <li>
                        <strong>OB 8.3</strong> Improves performance through
											self-evaluation of the effectiveness of actions
										</li>
                      <li>
                        <strong>OB 8.4</strong> Maintains self-control in
											challenging training situations
										</li>
                      <li>
                        <strong>OB 8.5</strong> Responds as needed to deal with
											the demands of challenging training situations
										</li>
                    </ul>
                  </div>
                  <div class="oj-objectives-table"></div>
                </div>
              </div>

              <div id="sourceEthics" class="ians-column">
                <div class="oj-span-grid-2">
                  <div>
                    <h3>Ethics and Integrity</h3>
                    <div class="oj-description">
                      <p>
  									This competency is focussed on ensuring that OJTIs give a
  									trainee a fair and honest opportunity to succeed. Rules
  									regarding privacy and confidentiality may be derived from both
  									national regulations and organizational policies and the OJTI
  									needs to be aware of these rules.
  								</p>

                      <p>
  									Some of the observable behaviours may be driven by the
  									organization&apos;s code of conduct (or equivalent), however,
  									other behaviours, such as ‘managing professional relationships
  									with the appropriate role boundaries&apos; may be culturally
  									driven. If such observable behaviours (OBs) are included in
  									the OJTI competency model, then it must be clear to the OJTI
  									what this behaviour means in terms of the relationship with
  									trainees. An Evidence Guide, will typically provide statements
  									and examples of acceptable behaviour.
  								</p>

                      <p>
  									So do you know what your ANSPs "Code of Conduct" says? How
  									might this code of conduct affect your role as an instructor?
  									Is there one specified for the role of OJTI?
  								</p>
                    </div>
                  </div>
                  <div class="oj-objectives">
                    <p class="oj-objectives-header">
									ICAO Competency Framework Observable behaviours (OB):
								</p>
                    <div class="oj-objectives-list">
                      <p>
                        <strong>Competency: </strong
										>
                        <span class="oj-objectives-competency"></span>
                      </p>
                      <p class="mb-0">
                        <strong>Description: </strong>
                      </p>
                      <p class="mt-0 oj-objective-definition">
										Demonstrates openness, respect and fairness towards the
										trainee and considers the consequences when making a
										decision or taking action
									</p>
                      <p>
                        <strong>Observable behaviours (OB):</strong>
                      </p>
                      <ul>
                        <li>
                          <strong>OB 9.1</strong> Treats the trainee respectfully,
											fairly and objectively regardless of differences
										</li>
                        <li>
                          <strong>OB 9.2</strong> Answers questions truthfully
											without embellishment or attempt to cover up a lack of
											knowledge
										</li>
                        <li>
                          <strong>OB 9.3</strong> Maintains privacy and
											confidentiality when appropriate
										</li>
                        <li>
                          <strong>OB 9.4</strong> Manages professional relationships
											with appropriate role boundaries
										</li>
                        <li>
                          <strong>OB 9.5</strong> Acts with integrity</li>
                        <li>
                          <strong>OB 9.6</strong> Remains objective and starts each
											training session without prejudice or bias
										</li>
                      </ul>
                    </div>
                    <div class="oj-objectives-table"></div>
                  </div>
                </div>
              </div>
            </div>
          </details>

        </div>
        <div class="">

          <div class="ians-column">
            <p>
						Some of the observable behaviours may be driven by the
						organization’s <strong>code of conduct</strong> (or equivalent), however, other
						behaviours, such as ‘managing professional relationships with the
						appropriate role boundaries’ may be <strong>culturally driven</strong>. If such
						observable behaviours ( OBs ) are included in the OJTI competency
						model, then it <strong>must be clear</strong> to the OJTI what this behaviour means
						in terms of the relationship with trainees. An Evidence Guide, will
						typically may provide statements and examples of acceptable
						behaviour.
					</p>

            <h2>Code of Conduct</h2>
            <p>
						Take a moment and ask yourself how your organisation expects you to
						act in your role as an instructor?
					</p>

            <!-- <div class="oj-placeholder">
						<p>
							Maybe a montage of photos of instructors – instructing,
							debriefing, having a coffee with student, talking behind the back
							of the student etc.
						</p>
					</div> -->

            <p>
						A code of conduct sets out the organisations expectations in terms
						of behaviours, norms and responsibilities of staff. Usually a code
						of conduct applies to all staff but in some instances, it is helpful
						to have a code of conduct <strong>specifically for instructors and trainees</strong>
						so that both know what is expected of them and is aligned with the
						learning philosophy of the organisation.
					</p>

            <p>
						Does your organisation have a code of conduct for instructors? If
						not, are there unwritten norms and behaviours that are expected of
						the instructors. To help you reflect on this, take a look at the
						example of a code of conduct below.
					</p>

            <!-- <div class="oj-placeholder">
						<p>
							Patrick – recreate the CoD below. It does not need to be
							downloadable – just needs to look better – could even be created
							with an image of an instructor and a trainee.
						</p>
					</div> -->
          </div>
          <div class="ians-column-wide-4">

            <div class="oj-code-container">
              <div class="oj-code-logo">

                {% include "./images/ec-logo-plus-ians.svg" %}
              </div>

              <h2>STUDENT / INSTRUCTOR<br/>CODE OF CONDUCT</h2>
              <div class="ians-grid-4 oj-code-columns">

                <h3>PROFESSIONALISM</h3>
                <h3>ATTITUDE</h3>
                <h3>COMMUNICATION</h3>
                <h3>TEAMWORK</h3>

                <h4 class="oj-top-banner">What Can I Expect?</h4>

                <div>
                  <h4>What Can I Expect?</h4>

                  <p>
										My views and concerns to be considered and addressed with
										courtesy.
									</p>

                  <p>To be treated equally, fairy and with respect.</p>

                  <p>To be led and managed professionally and consistently.</p>
                </div>

                <div>
                  <h4>What Can I Expect?</h4>

                  <p>
									To be provided with support and opportunities to enable me to
									achieve my full potential.
								</p>

                  <p>
									To be encouraged to work to the best of my abilities and
									recognised for my efforts and contribution.
								</p>
                </div>
                <div>
                  <h4>What Can I Expect?</h4>

                  <p>
									Communication will be conducted in a timely, sensitive and
									honest way. Face to face meetings will be held wherever
									possible.
								</p>

                  <p>
									To be provided with lines of communication that will enable me
									to express my views and challenge without prejudice.
								</p>
                </div>
                <div>
                  <h4>What Can I Expect?</h4>

                  <p>To have my role and the purpose of my team made clear.</p>

                  <p>
									To be able to see myself and be seen as a valued team member,
									participating fully in the success of Ab-initio training at IANS.
								</p>
                </div>

                <h4 class="oj-bottom-banner">What is Expected Of Me?</h4>

                <div>
                  <h4>What is Expected Of Me?</h4>

                  <p>To listen to others with courtesy and respect.</p>

                  <p>To conduct myself in a professional manner.</p>

                  <p>To present myself punctually and properly prepared for work.</p>
                </div>
                <div>
                  <h4>What is Expected Of Me?</h4>

                  <p>
									To take pride in responsible and be responsible for my
									environment.
								</p>

                  <p>
									To demonstrate initiative, be flexible, responsible and
									receptive.
								</p>

                  <p>
									Show respect to colleagues and participate fully in all aspects
									of work.
								</p>
                </div>
                <div>
                  <h4>What is Expected Of Me</h4>

                  <p>
									To keep myself adequately my informed, relay information and
									handle sensitive information with due care and consideration.
								</p>

                  <p>
									To provide constructive challenge and communicate alternative
									solutions.
								</p>
                </div>
                <div>
                  <h4>What is Expected Of Me?</h4>
                  <p>To work well with others within and beyond my team.</p>

                  <p>To support my team to achieve all our goals.</p>
                </div>

              </div>

              <div class="ians-grid-4 oj-code-columns oj-code-columns-2">
                <div>
                  <h3>PROFESSIONALISM</h3>
                  <div class="oj-code-what-i">
                    <h4>What Can I Expect?</h4>

                    <p>
										My views and concems to be considered and addressed with
										courtesy.
									</p>

                    <p>To be treated equally, fairy and with respect.</p>

                    <p>To be led and managed professionally and consistently.</p>
                  </div>

                  <h4>What is Expected Of Me?</h4>

                  <p>To listen to others with courtesy and respect.</p>

                  <p>To conduct myself in a professional manner.</p>

                  <p>To present myself punctually and propery prepared for work.</p>
                </div>

                <div>
                  <h3>ATTITUDE</h3>
                  <div class="oj-code-what-i">
                    <h4>What Can I Expect?</h4>

                    <p>
									To be provided with support and opportunities to enable me to
									achieve my full potential.
								</p>

                    <p>
									To be encouraged to work to the best of my abilities and
									recognised for my efforts and contribution.
								</p>
                  </div>

                  <h4>What is Expected Of Me?</h4>

                  <p>
									To take pride in responsible and be responsible for my
									environment.
								</p>

                  <p>
									To demonstrate initiative, be flexible, responsible and
									receptive.
								</p>

                  <p>
									Show respect to colleagues and participate fully in all aspects
									of work.
								</p>
                </div>

                <div>
                  <h3>COMMUNICATION</h3>
                  <div class="oj-code-what-i">
                    <h4>What Can I Expect?</h4>

                    <p>
									Communication will bo conducted in a timely, sensitive and
									honest way. Face to face meetings will be held wherever
									possible.
								</p>

                    <p>
									To be provided with lines of communication that will enable me
									to express my views and challenge without prejudice.
								</p>
                  </div>

                  <h4>What is Expected Of Me</h4>

                  <p>
									To keep myself adequately my informed, relay information and
									handle sensitive information with due care and consideration.
								</p>

                  <p>
									To provide constructive challenge and communicate alternative
									solutions.
								</p>
                </div>

                <div>

                  <h3>TEAMWORK</h3>

                  <div class="oj-code-what-i">
                    <h4>What Can I Expect?</h4>

                    <p>To have my role and the purpose of my team made clear.</p>

                    <p>
									To be able to see myself and be seen as a valued team member,
									participating fully in the success of Ab-initio training at IANS.
								</p>
                  </div>

                  <h4>What is Expected Of Me?</h4>
                  <p>To work well with others within and beyond my team.</p>

                  <p>To support my team to achieve all our goals.</p>

                </div>

              </div>

            </div>
          </div>
        </div>
      </main>

      <footer>
        <p>&copy; EUROCONTROL</p>
      </footer>
      <script src="ARIAtabs.js"></script>
      <script type="module" src="./main.js"></script>
      {% scrollToTop %}
    </body>
  </html>