<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 1</title>
    <meta name="description" content="desc">
    <meta name="generator" content="{{ eleventy.generator }}">

    <link rel="stylesheet" href="{{ './css/page1.css' | url }}">

    <script type="module" defer src="{{ './js/page1.js' | url }}"></script>

  </head>
  <body>
    <header>
      <h1 class="home">
        Page 1
      </h1>

    </header>

    <main>

      <p>Heyyyyyyyy</p>
      <p>Vite doesn't work when no link on home page. Unless HTML is updated.</p>
    </main>

    <footer></footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>