<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Communication</title>
    {% coreStyles %}
    <link rel="stylesheet" href="styles.css"/>
  </head>
  <body class="relative">
    {% lmsBanner %}
    <header class="ians-column-wide-1">
      <p class="ians-breadcrumb">Human Factors&nbsp;/&nbsp;<img
					class="oj-header-chain"
					src="images/icon-chain.svg"
					alt="chain link icon"
				/></p>
      <h1>Communication</h1>
    </header>
    <main>

      <div class="oj-hero"></div>

      <div class="ians-column mt-12">

        <p class="ians-text-instruction">On a piece of paper, make a small drawing of a tree. Does it look anything like these drawings that were done by other participants?</p>

      </div>
      <div class="ians-column-wide-1">

        <details class="oj-summary mb-12">
          <summary>Select here to see drawings</summary>
          <div class="ians-grid-3">
            <img src="images/tree-user-01.svg" alt="Drawing of a tree.">
            <img src="images/tree-user-02.svg" alt="Drawing of a tree.">
            <img src="images/tree-user-03.svg" alt="Drawing of a tree.">
            <img src="images/tree-user-04.svg" alt="Drawing of a tree.">
            <img src="images/tree-user-09.svg" alt="Drawing of a tree.">
            <img src="images/tree-user-08.svg" alt="Drawing of a tree.">
            <img src="images/tree-user-07.svg" alt="Drawing of a tree.">
            <img src="images/tree-user-05.svg" alt="Drawing of a tree.">
            <img src="images/tree-user-06.svg" alt="Drawing of a tree.">
          </div>
        </details>
      </div>
      <div class="ians-column">
        {# <hr/> #}

        <p class="oj-notched oj-question ians-bg-blue-dark">If you were to ask a <strong>Finn</strong>, an <strong>Emirati</strong> and <strong>Luxembourger</strong> to draw a picture of a tree and that was the only information given, what kind of tree do you imagine they would draw?</p>

        <p class="ians-text-instruction">Here is what we think they will be imagining when they draw their tree. Select each drawing to see a real life example.</p>

      </div>

      <div class="oj-bg-grey">

        <div class="ians-column-wide-3 ians-grid-3 oj-grid-photo">

          <div>
            <div class="flip-box">
              <div class="flip-box-inner">
                <div class="flip-box-front">
                  <img src="images/tree-drawing-pine.png" alt="Pine tree drawing">
                </div>
                <div class="flip-box-back">
                  <img src="images/tree-real-pine.jpg" alt="Pine tree photo">
                </div>
              </div>
            </div>
            <p class="oj-flip-subtitle">Finn</p>
          </div>

          <div>
            <div class="flip-box">
              <div class="flip-box-inner">
                <div class="flip-box-front">
                  <img src="images/tree-drawing-palm.png" alt="palm tree drawing">
                </div>
                <div class="flip-box-back">
                  <img src="images/tree-real-palm.jpg" alt="palm tree photo">
                </div>
              </div>
            </div>
            <p class="oj-flip-subtitle">Emirati</p>
          </div>

          <div>

            <div class="flip-box">
              <div class="flip-box-inner">
                <div class="flip-box-front">
                  <img src="images/tree-drawing-oak.png" alt="oak tree drawing">
                </div>
                <div class="flip-box-back">
                  <img src="images/tree-real-oak.jpg" alt="oak tree photo">
                </div>
              </div>
            </div>
            <p class="oj-flip-subtitle">Luxembourger</p>
          </div>

        </div>
      </div>

      <div class="ians-column">

        <p>If you actually wanted them all to draw a traditional pine tree for example; then you would need to ensure your communication was <strong>detailed</strong> enough, that there was sufficient information in the instruction to <strong>avoid misunderstanding</strong>. If you were a Finn giving this instruction, you may assume everyone will automatically draw a pine tree tree because that is your experience and background, but <strong>assumptions</strong> can be a <strong>misleading</strong> element of the communication chain of events.</p>

        <p>Take a look at this video of the chain of events in communication:  </p>
        {# <p class="oj-dev-notes">
          <strong>[DEV COMMENT]</strong> More time needed to read joke in  video below. Also, as we mention "chain", it would be good to work in the chain icon somewhere to join things up.
        </p> #}

      </div>

      <div class="ians-column-wide-3">{% vimeo "601723462" %}</div>

      <div class="ians-column">

        <h2>Senses in Communication</h2>

        <p>
          <strong>Task switching</strong> is a skill that most people only acquire through experience, practice and increasing expertise. When you are communicating as an OJTI to your student, they will <strong>take in information</strong> through the senses, primarily <strong>“sight”</strong> and “<strong>hearing</strong>”, with sight being the dominant of the two. As an OJTI if you are communicating to your student with an instruction or question, <strong>during a visually demanding traffic situation</strong>; an inexperienced student may not comprehend your communication fully, or partially, or misinterpret it. The student does not have the capacity to deal with both senses at the same time. The OJTI may need to actively <strong>intervene</strong> to “break” the visual link in order for the spoken communication to be received and understood.</p>

        <h2>How much information to provide?</h2>

        <p>As an OJTI trying to communicate with your student regarding a solution to a difficult tactical problem, bear in mind that you are the <strong>unconsciously competent</strong> controller (able to perform tasks competently without conscious effort) and that the student may still be <strong>consciously incompetent</strong> (does not understand or know how to do something). By virtue of your experience, you will be making <strong>links</strong> between the pieces of information that your student may not be able to. The way you communicate and how much information you provide will make a difference to whether the student will understand what is required of them.</p>

        {# <p>Take a look at the following situation:</p> #}

        {# <p class="oj-dev-notes">
          <strong>[DEV COMMENT]</strong> Video below to be replaced.
        </p> #}

      </div>

      {# <div class="ians-column-wide-3">{% vimeo "601723462" %}</div> #}

      <div class="ians-column">

        <h2>Perception and Expectation Bias</h2>

        <p>Perception is the way we <strong>interpret</strong> the information picked up by our senses and expectation bias can decide the outcome of that interpretation based on what we <strong>expected</strong> to happen.</p>

        <p class="">We sometimes see or hear what we want to see or hear and for different reasons. These could be:</p>

      </div>

      <div class="oj-lowlight pt-4">

        <div class="ians-column-wide-4">

          <ul class="oj-peb-container list-none pl-0" data-title="Perception and Expectation Bias">
            <li>
              <strong>Time pressure</strong> in assessing communication – rushed and hurried perception.</li>
            <li>
              <strong>Fear of failure</strong> – can affect through expectation bias. A structured, factual critique can be interpreted as a criticism.</li>
            <li>
              <strong>Cultural reasons</strong> – can affect expectation bias. Some cultures view challenges as potential threats.</li>
            <li>
              <strong>Previous experiences</strong> can produce avoidance of anything that resembles a previously bad experience even if it is not the same.</li>
            <li>
              <strong>Relationship with the person</strong> communicating with us. E.g. if we think the person communicating with us is trying to trick us, we can perceive the communication as “veiled” of “false”. If we have a sound relationship with the person communicating with us we do not have to interpret the real meaning behind the communication.</li>
          </ul>

        </div>
      </div>

      <div class="ians-column">

        <h2>Active Listening</h2>

        <p>Active listening is a skill that can be learned and is a vital part of being a good instructor. To be a good active listener, remember to:</p>

        <ul class="list-disc list-inside sr-only">
          <li>Maintain eye contact</li>
          <li>Avoid interruptions</li>
          <li>Be aware of your body language messages</li>
          <li>Encourage responses from your student</li>
          <li>Summarise your understanding of what the student has said when they have finished</li>
        </ul>

      </div>

      <div class="ians-column-wide-4 mt-12 mb-12">
        {% image "images/active-listening.jpg", "OJTI listening to controller with points for being a good active listener listed above labelled on photo.",
				"oj-active-listening-photo" %}
      </div>

      <div class="ians-column">

        {# <p class="oj-dev-notes">
          <strong>[DEV COMMENT]</strong> Image of OJTI with mouth shut and student talking. Label each point to part of picture. Summary above OJTI.
        </p> #}

        <p>
          <strong>The guidelines below will help you to become a better listener:</strong>
        </p>

        {# <p class="oj-dev-notes">
          <strong>[DEV COMMENT]</strong> Something with a tick motiff. Incorporate pink chain icon - maybe between guidelines.
        </p> #}

      </div>

      <ul class="ians-column-wide-1 ians-grid-2 oj-guidelines">
        <li class="oj-notched">
          <strong>Think about your student</strong>
          <p>Ask yourself what they are telling you and why. </p>
        </li>
        <li class="oj-notched">
          <strong>Listen without interrupting</strong>
          <p>As an instructor, you will have heard the same thing time and again.  Many of us even try to finish the sentence for the student.  But interruptions may cause resentment. If you are listening for an opportunity to break in, you are not focused on the content of the speech.</p>
        </li>
        <li class="oj-notched">
          <strong>Give encouraging responses</strong>
          <p>Try to make these varied and meaningful.  Here are some examples of encouraging responses: "A lot of people have that problem", "It’s a matter of fine judgement", "Your idea is really interesting, try to take it a step further."</p>
        </li>
        <li class="oj-notched">
          <strong>Avoid unhelpful comments and “put&#8209;downs”</strong>
          <p>It is not helpful to be judgemental, e.g.  "That was wrong". Instead, try to be positive,  "In cases like that you may find it easier to ...". The wrong kind of comment discourages the student from talking. Put downs such as “Tut-tut!!” or “Oh dear!” will likely result in a fear of communication from your student.</p>
        </li>
      </ul>

      <div class="ians-bg-blue-dark mt-12 pb-12">
        <div class="ians-column">
          <h2>Barriers to Communication</h2>

          <p>It’s important to recognise common problems preventing people from getting the message you are communicating.</p>
        </div>

        <div class="oj-barriers ians-column-wide-5 ians-grid-2">

          {# <hr class="oj-hr-barrier"> #}

          <div>
            <h3 class="oj-mt-8">
              <span>Distraction</span></h3>

            {% image "images/distraction.jpg", "Distraction"%}

            <p>We are in a hurry, or distracted by other things that are claiming our attention. <strong>Noises</strong>, <strong>mobile phones</strong> and <strong>passers-by</strong> are especially distracting. Try to choose the right time and place for important communications.</p>
          </div>

          {# <hr class="oj-hr-barrier"> #}

          <div>
            <h3>
              <span>Language</span></h3>

            {% image "images/language.jpg", "Language"%}

            <p>We fail to understand what is said because either the language, <strong>dialect</strong> or <strong>accent</strong> of the speaker is not our native one, or we are not familiar with all the <strong>professional vocabulary</strong>, 
  <strong>jargon</strong> or specialised group language.</p>

            <p>Use words that you think your student will understand and explain words and expressions that may be new. Try to speak a little more <strong>slowly</strong> and <strong>clearly</strong> if you think the student may have a problem with your pronunciation.</p>
          </div>

          {# <hr class="oj-hr-barrier"> #}

          <div>
            <h3>
              <span>Distortion</span></h3>

            {% image "images/distortion.jpg", "Distortion"%}

            <p>We misinterpret the words we hear because we have <strong>preconceived</strong> ideas about the situation, the people or cultures. So be aware of your preconceptions. Try to be objective and if you can’t quite do this, at least try and act <strong>objectively</strong>. </p>
          </div>

          {# <hr class="oj-hr-barrier"> #}

          <div>
            <h3>
              <span>Emotion</span></h3>

            {% image "images/emotions.jpg", "Emotions"%}

            <p>The message is distorted by our emotional attitude to a person, a situation or the words used.  Our culture and previous experience colour our perceptions of what people say and the way we speak to them.</p>

            <p>Communication can be inhibited by fear of the unknown, fear of authority, fear of looking foolish.  Many words have an <strong>emotional significance</strong>. The problem is that this may vary from person to person so bear this in mind, especially when you give feedback.</p>

            <p>Try to <strong>adapt</strong> your natural style to the student and think beforehand about how you’re going to express your ideas.</p>
          </div>

          {# <hr class="oj-hr-barrier"> #}

          <div class="oj-grid-span">
            <h3>
              <span>Hidden Agenda</span></h3>

            {% image "images/hiddenAgenda.jpg", "Hidden agenda"%}

            <p>The desire to communicate may not always be our <strong>strongest motive</strong>. </p>

            <p>For instance, we may want to:</p>

            <ul class="list-disc list-inside">
              <li>impress someone</li>
              <li>assert our “authority”</li>
              <li>win an argument, or</li>
              <li>make our point felt.</li>
            </ul>

            <p class="mb-12">So we concentrate on our <strong>thoughts and our motives</strong>, i.e. the hidden agenda, not on what we should be trying to communicate. Be aware of this possibility and restrain yourself when the problem occurs. As we say, sometimes you have to look at yourself in the mirror, figuratively speaking; and ask, are you bringing to the discussion something that has no place there?</p>
          </div>
        </div>
      </div>

      <div class="ians-column-wide-1 oj-lowlight oj-block-bottom mt-12">

        <div class="ians-column">

          <p>Take a look at the following items and decide if they could affect an OJTI's ability to communicate objectively and fairly with a student.</p>

          <ul class="oj-tags mt-12 mb-12">
            <li class="oj-notched">EMOTIONS</li>
            <li class="oj-notched">STRESS</li>
            <li class="oj-notched">AGE DIFFERENCE</li>
            <li class="oj-notched">GENDER</li>
            <li class="oj-notched">NOISE</li>
            <li class="oj-notched">PERSONALITY</li>
            <li class="oj-notched">FATIGUE</li>
            <li class="oj-notched">FRIENDSHIP</li>
            <li class="oj-notched">TIME</li>
            <li class="oj-notched">LANGUAGE</li>
            <li class="oj-notched">WORKLOAD</li>
            <li class="oj-notched">PEER PRESSURE</li>
          </ul>

          <p class="mb-12">Depending on your own experiences and background, some or all of the items could affect your ability to communicate effectively, fairly and honestly with your student. Being aware of these items will help you to decide how to communicate.</p>
        </div>
      </div>

    </main>

    <footer>
      <p>&copy; EUROCONTROL</p>
    </footer>

    <script type="module" src="./main.js"></script>
    {% scrollToTop %}
  </body>
</html>