<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Regulatory Environment – Practical Instructors</title>
    {% coreStyles %}
    <link rel="stylesheet" href="tabs.css"/>
    <link rel="stylesheet" href="styles.css"/>
  </head>

  <body class="relative">
    {% lmsBanner %}
    <header class="ians-column-wide-1">
      <p class="ians-breadcrumb">
      The Training Organisation&nbsp;/
      <img class="oj-header-chain" src="images/icon-chain.svg"
        alt="chain link icon"/>
      </p>
      <h1>Regulatory Environment – Practical Instructors</h1>
    </header>
    <main>
      <div class="ians-column">
        <h2 class="oj-pt0-important">Introduction</h2>
        <p>
        This section covers the regulatory requirements for practical training
        instructors. It provides information on the regulations that apply to
        the training and assessments of ATCOs and practical instructors.
        Although we will mainly focus on the <strong>European</strong>
        regulatory, operational and organisational environment, there have been
        some recent changes to ICAO documents that have introduced OJTI
        requirements and an OJTI <strong>competency framework</strong>. 
      </p>

      </div>

      <div class="oj-hero"></div>

      <div class="ians-column">

        <p>In Europe, the <strong>requirement</strong> to have an OJTI
        <strong>endorsement</strong> in your ATC <strong>licence</strong> before
        providing operational (live) training was established more than 20 years
        ago and is supported with the development of <strong>OJTI training and
          refresher courses</strong>. The importance of these requirements,
        initially articulated through the different regulatory phases and
        organisations, has been recognised by the <strong>European
          Commission</strong> and is embedded into the so-called <strong>Basic
          Regulation</strong>, initially introduced in 2006 and updated in 2018:
        <i>Regulation (EU) 2018/1139 <a
            href="https://www.easa.europa.eu/document-library/regulations/regulation-eu-20181139"
            target="_blank">Basic regulation - Essential requirements for
            ATM/ANS and air traffic controllers</a>
          </i>. Please note that links provided here are only for information and you do not need to follow them to complete the course.
      </p>

        <p>
          <strong>This is the section that deals with the qualification of instructors:</strong>
        </p>

      </div>

      <div class=" oj-paper-torn-container">

        <div class="ians-column-wide-1 oj-paper-torn">

          <ol class="list-inside oj-reg-list-decimal">
            <li>4.7.2. Instruction on practical skills shall be given by
            appropriately qualified instructors, who have the following
            qualifications:</li>
            <ul class="list-inside oj-reg-list-alpha">
              <li>(a) meet the theoretical knowledge and the experience
              requirements appropriate to the instruction being given;</li>
              <li>(b) have demonstrated the ability to instruct and to use
              appropriate instructional techniques</li>
              <li>(c) have practised instructional techniques in those procedures
              in which it is intended to provide instruction; and</li>
              <li>(d) receive regular refresher training to ensure that the
              instructional competences are maintained up to date.</li>
            </ul>
            <li>4.7.3. Instructors on practical skills shall also be or have been
            entitled to act as an air traffic controller.</li>
          </ol>

        </div>
      </div>

      <div class="ians-column"></div>
      <div class="ians-column-wide-2 ians-grid-2">

        <p class=" mt-0">You will notice that according to the last requirement
        (<strong>4.7.3</strong>), instructors who are teaching practical skills
        <strong>shall be air traffic controllers</strong>, which many would
        consider as <strong>common sense</strong> (can you imagine a driving
        instructor who has never driven a car?!). Clearly, these higher-level
        rule-makers wanted to prevent the practice of using instructors with no
        ATCO background in practical ATC training.
      <br/><br/>This regulation served as a starting point for the development of more
        <strong>detailed</strong> Commission Regulation (EU) 2015/340 on ATCO
        Licensing (<i>COMMISSION REGULATION (EU) 2015/340: <a
            href="https://www.easa.europa.eu/document-library/easy-access-rules/easy-access-rules-air-traffic-controllers-licensing-and"
            target="_blank">ATCO Licensing Regulation</a>
          </i>) where most of the requirements related to ATCO practical training
        sit.
      </p>

        {% image "images/reg-2015-340.jpg",
        "Front page of regulation.", "oj-reg-cover" %}
      </div>
      <div class="ians-column">

        <p>In the graphic below, you can see the structure of the <strong>ATCO
          Licensing regulation</strong>. We will focus mostly on the
        <strong>Annex I</strong> – Part ATCO. You may also be interested in some
        parts of the <strong>Annex III</strong>, which covers Training
        Organisations’ (our employers) obligations with respect to ATCO and
        Practical instructor training.
      </p>

      </div>

      <div class="ians-column-wide-2">
        <div class="oj-graph-container mt-12">
          <div class="oj-graph-node">
            <p>Cover Regulation</p>
            <p>AMC &amp; GM</p>
          </div>

          <div class="oj-graph-row">

            <div class="oj-graph-annex oj-graph-annex-1">
              <div class="oj-graph-node">
                <p>Annex I<br/>Part ATCO</p>
                <p>AMC &amp; GM</p>
              </div>

              <div class="oj-graph-node">
                <p>Appendices 1-8</p>
                <p>AMCs to Appendices 2-8</p>
              </div>
            </div>

            <div class="oj-graph-annex oj-graph-annex-2">
              <div class="oj-node-org-container">
                <div class="oj-graph-node">
                  <p>Annex II<br/>Part ATCO.AR</p>
                  <p>AMC &amp; GM</p>
                </div>
                <p>AUTHORITY</br>REQUIREMENTS</p>
            </div>

            <div class="oj-graph-node oj-graph-node-end">
              <p>Appendices 1-4</p>
            </div>
          </div>

          <div class="oj-graph-annex oj-graph-annex-3">
            <div class="oj-node-org-container">
              <div class="oj-graph-node">
                <p>Annex III<br/>Part ATCO.OR</p>
                <p>AMC &amp; GM</p>
              </div>
              <p>ORGANISATION</br>REQUIREMENTS</p>
          </div>
        </div>

        <div class="oj-graph-annex oj-graph-annex-4">
          <div class="oj-graph-node">
            <p>Annex IV<br/>Part ATCO.MED</p>
            <p>AMC &amp; GM</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="ians-column">
    <h2>What ICAO says about OJTIs</h2>

    <p>Before we start going through the requirements for practical
        instructors in the European environment, let’s take a look at what the
        ICAO documents says about instructors.</p>

    <p class="ians-text-instruction">Select each document cover to read about
        it:</p>

  </div>

  <div class="ians-column-wide-4 oj-doc-covers">

    <div>
      <div class="flip-box">
        <div class="flip-box-inner">
          <div class="flip-box-front">
            {% image "images/cover-ANNEX01.png", "Cover of ICAO Annex 1"%}
          </div>
          <div class="flip-box-back">
            <h3>Annex 1- Personnel Licensing</h3>
            <p>Now recognises the role of the OJTI in providing instructing in
                the live operational environment – it states that ‘an air
                traffic controller acting as an air traffic control on-the-job
                training instructor shall hold an appropriate rating and
                <strong>be qualified as an air traffic control on-the-job
                  training instructor</strong> (<i>ICAO Annex 1 paragraph
                  4.4.1.3.2</i>). Applicable 5th November 2020.
              </p>

          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="flip-box">
        <div class="flip-box-inner">
          <div class="flip-box-front">
            {% image "images/cover-9868.png", "Cover of ICAO document 9868"%}
          </div>
          <div class="flip-box-back">
            <h3>Doc 9868 PANS -Training</h3>
            <p>States that ‘on-the-job training shall be performed under the
                supervision of a qualified ATC on-the-job training instructor
                who has been <strong>authorized to provide instruction in the
                  area for which the rating shall be issued</strong>...’
                (<i>ICAO PANS-TRG Ed 3.0 Part IV, Ch 2, para 2.3.2</i>). Also
                contains the ATC OJTI Competency Framework that may be adapted
                and used as the basis for determining that an air traffic
                controller is competent to perform the duties of an ATC OJTI. As
                you will recall, we have already looked at those competencies in
                an earlier section.</p>

          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="flip-box">
        <div class="flip-box-inner">
          <div class="flip-box-front">
            {% image "images/cover-10056.jpg", "Cover of ICAO document 10056"%}
          </div>
          <div class="flip-box-back">
            <h3>Doc 10056 Vol 2 – Manual on ATC CBTA</h3>
            <p>Provides guidance on how to implement CBTA training for
                instructors.</p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="ians-column">

    <h2>European regulations for practical instructors</h2>

    <p>While <strong>ICAO</strong> Annex 1 <strong>does not</strong> detail
        training and experience requirements or recommended practices on how the
        training of on-the-job training instructors should be carried out,
        <strong>Europe Regulation</strong> (EU) 2015/340 <strong>does</strong>
        exactly that.
      </p>

    <p>Another <strong>difference</strong> between the ICAO and EU approaches
        is that ICAO is focused on OJTIs and operational (live) training only,
        whereas in the EU, the Basic regulation uses the generic term
        “instructor on practical skills” and in the <strong>more
          detailed</strong> ATCO Licensing regulation introduces the
        requirements for both OJTIs and Synthetic Training Device Instructors
        (STDIs).</p>

    <p>So, what are these requirements? Take a look at the video for an
        overview of the different requirements that apply to practical
        instructors in the EU.</p>

  </div>

  <div class="ians-column-wide-3">

    {% vimeo 601735281 %}

  </div>

  <div class="ians-column">

    <p>We are now going to look at each aspect in more detail.</p>

    <h3>Requirements to obtain the endorsement</h3>

    <p>These requirements are <strong>similar</strong> for both endorsements
        (<strong>two years experience</strong> operating an ATCO licence and
        successful completion of a <strong>practical</strong> instructional
        technique course) with the major difference being that OJTIs need a
        <strong>valid ATC Licence</strong> (exercised at least two years
        immediately prior the application) and associated <strong>unit
          endorsement</strong>.
      </p>

    {# <p class="oj-dev-notes">Ashley to review whether to keept the red and
        green bullets and the keys as the binary choice is trying to convey too
        much complexity.</p> #}

    <div class="ians-grid-2 oj-reg-key oj-notched">
      <p>{% include "./images/icon-unlock.svg" %} = Same for both
          OJTI and STDI.</p>
      <p>{% include "./images/icon-unlock-red.svg" %} = Different for
          OJTI and STDI.</p>

    </div>

  </div>

  <div class="ians-column-wide-2">

    <div class="oj-reg-graphic-container oj-reg-graphic-obtain">
      <div class="oj-reg-graphic-title-container">
        <p>To Obtain</p>
      </div>
      <div class="oj-reg-graphic-list-container ians-grid-2">
        <div >
          <h4>OJTI</h4>
          <p>ATCO.C.020</p>
          <ul>
            <li class="oj-reg-graphic-li-red">ATCO Licence + Valid unit
                endorsement</li>
            <li class="oj-reg-graphic-li-red">2 years of exercise immediately
                preceding the application</li>
          </ul>
        </div>
        <div>
          <h4>STDI</h4>
          <p>ATCO.C.035</p>
          <ul>
            <li class="oj-reg-graphic-li-red">ATCO Licence + 2 years of
                exercise (any rating)</li>
          </ul>
        </div>

        <div class="oj-reg-graphic-both">
          <h4>OJTI &amp; STDI</h4>
          <ul>
            <li>Practical instructional techniques course within the year
                prior to application</li>
          </ul>
        </div>

      </div>
    </div>

  </div>

  <div class="ians-column">

    {# {% include "./images/icon-clipboard-check.svg" %}
    {% include "./images/icon-clipboard-check-red.svg" %} #}

    <h3>Conditions/requirements to exercise the
        endorsement(s)</h3>

    <p>These are similar as well: <strong>two years experience</strong> in the
        rating they will instruct in for both endorsements but in the case of
        OJTI it is strengthened with a requirement for <strong>six months
          immediately previous</strong> experience in the unit endorsement where
        they will be instructing. Whereas this requirement is ‘softened’ for the
        STDI endorsement, so as to enable STDIs to instruct in the <strong>basic
          training</strong> for any rating and in the rating training for
        similar ratings. The requirement to <strong>practice instructional
          skills</strong> appropriate to the rating held is
        similar as well.</p>

  </div>

  <div class="ians-column-wide-2">

    <div class="oj-reg-graphic-container oj-reg-graphic-exercise">
      <div class="oj-reg-graphic-title-container">
        <p>To Exercise</p>
      </div>
      <div class="oj-reg-graphic-list-container ians-grid-2">
        <div >
          <h4>OJTI</h4>
          <p>ATCO.C.010</p>
          <ul>

            <li class="oj-reg-graphic-li-red">6 months immediate previous
                experience in the unit endorsement they will instruct</li>

          </ul>
        </div>
        <div>
          <h4>STDI</h4>
          <p>ATCO.C.030</p>

          <ul>
            <li>2 years experience in the rating they will instruct:</li>
            <ul class="oj-reg-graphic-sublist">
              <li class="oj-reg-graphic-li-red">for basic training any rating:
                </li>
              <li class="oj-reg-graphic-li-red">for rating training similar
                  ratings required > knowledge of current operational practices
                </li>
            </ul>
            <li class="oj-reg-graphic-li-red">Knowledge of current operational
                practices</li>

          </ul>

        </div>

        <div class="oj-reg-graphic-both">
          <h4>OJTI &amp; STDI</h4>
          <ul>
            <li>2 years experience in the associated rating (may be shortened
                to 1 year)</li>
            <li>Practiced instructional skills appropriate to the rating held
              </li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <div class="ians-column">

    <h3>
      Privileges
    </h3>

    <p>Once an ATCO has obtained either an OJTI or STDI endorsement, what types
        of training are they allowed to provide (i.e. what are the privileges of the endorsement)?</p>

    <p>An OJTI can provide all types of training (live and simulated). Take a
        look at the <strong>definition of OJTI endorsement</strong> from the
        ATCO Licensing regulation:</p>

    <blockquote>on-the-job training instructor (OJTI) endorsement’ means the
        authorisation entered on and forming part of a licence, indicating the
        competence of the holder to give on-the-job training instruction and
        instruction on synthetic training devices</blockquote>

    <p>However, an STDI <strong>may not</strong> provide operational (OJT)
        training or pre-OJT if the relevant unit endorsement was not held in the
        past.</p>

  </div>

  <div class="ians-column-wide-2">

    <div class="oj-reg-graphic-container oj-reg-graphic-privilege">
      <div class="oj-reg-graphic-title-container">
        <p>Privileges</p>
      </div>
      <div class="oj-reg-graphic-list-container ians-grid-2">
        <div >
          <h4>OJTI</h4>
          <p>ATCO.C.010</p>

          <ul>
            <li class="oj-reg-graphic-li-red">
              <strong>On operational working positions</strong> for which a
                valid unit endorsement is held
              </li>

          </ul>
        </div>
        <div>
          <h4>STDI</h4>
          <p>ATCO.C.030</p>

        </div>

        <div class="oj-reg-graphic-both">
          <h4>OJTI &amp; STDI</h4>
          <ul>
            <li>Subjects of practical nature during Initial training</li>
            <li>Unit training (pre-OJT if relevant unit endorsement is/have
                been held, <span style="color: #f56f6f;">no OJT</span>)</li>
            <li>Continuation training</li>
            <li>Contains the privileges of STDI,
                and may be exchanged for it</li>
          </ul>
        </div>

      </div>
    </div>

  </div>

  <div class="ians-column">

    <h3>Requirements to maintain the endorsements</h3>

    <p>These are also <strong>similar</strong> for both OJTIs and STDIs
        (refresher training on practical instructional skills) with 
        <strong>additional refresher training</strong> on current operational
        practices for STDIs to compensate (partly) for the lack of current expereince (that an operational OJTI gains simply by having a valid ATCO licence).
      </p>

  </div>

  <div class="ians-column-wide-2">

    <div class="oj-reg-graphic-container oj-reg-graphic-maintain">
      <div class="oj-reg-graphic-title-container">
        <p>To Maintain</p>
      </div>
      <div class="oj-reg-graphic-list-container ians-grid-2">
        <div >
          <h4>OJTI</h4>
          <p>ATCO.C.015</p>
          <ul>

            <li class="oj-reg-graphic-li-red">ATCO Licence + Valid unit
                endorsement</li>
            <li class="oj-reg-graphic-li-red">2 years of exercise immediately
                preceding the application</li>
          </ul>
        </div>
        <div>
          <h4>STDI</h4>
          <p>ATCO.C.040</p>
          <ul>
            <li class="oj-reg-graphic-li-red">refresher training on current
                operational practices</li>
          </ul>
        </div>

        <div class="oj-reg-graphic-both">
          <h4>OJTI &amp; STDI</h4>
          <ul>
            <li>successfully completed <strong>refresher training</strong> for
                practical instructional skills</li>
          </ul>
        </div>

      </div>
    </div>

  </div>

  <div class="ians-column">

    <h3>Requirements for renewal of expired endorsements</h3>

    <p>These are almost the same. The differences are:</p>

    <ol class="list-inside list-decimal">
      <li>the OJTI needs to have a valid ATCO licence and</li>
      <li>there is a possibility for OJTIs to exchange their OJTI endorsement
          for an STDI endorsement in circumstances where their ATCO licence
          and/or associated unit endorsements validity expires.</li>
    </ol>

    <p>There is a further requirement for STDIs to have <strong>refresher
          training on current operational practises</strong>.</p>

  </div>

  <div class="ians-column-wide-2">

    <div class="oj-reg-graphic-container oj-reg-graphic-renewal">
      <div class="oj-reg-graphic-title-container">
        <p>Renewal</p>
      </div>
      <div class="oj-reg-graphic-list-container ians-grid-2">
        <div >
          <h4>OJTI</h4>
          <p>ATCO.C.020</p>
          <ul>

            <li class="oj-reg-graphic-li-red">ATCO Licence + Valid unit
                endorsement</li>
            <li class="oj-reg-graphic-li-red">2 years of exercise immediately
                preceding the application</li>
          </ul>
        </div>
        <div>
          <h4>STDI</h4>
          <p>ATCO.C.040</p>
          <ul>
            <li class="oj-reg-graphic-li-red">refresher training on current
                operational practices</li>
          </ul>
        </div>

        <div class="oj-reg-graphic-both">
          <h4>OJTI &amp; STDI</h4>
          <ul>
            <li>Receiving <strong>refresher training</strong> on practical
                instructional skills</li>
            <li>Successfully passing a practical instructor competence assessment</li>
          </ul>
        </div>

      </div>
    </div>

  </div>

  <div class="ians-column">

    <p class="ians-text-instruction">That’s a lot of information to take in.
        To help consolidate your understanding of the similarities and
        differences between the OJTI and STDI endorsements, try this exercise to
        see how much you remember. Drag the Conditions to the correct category
        above.</p>

  </div>

  <div class="ians-column-wide-4 oj-regs-exercise-container">
    <iframe
        src="https://trainingzone.h5p.com/content/1291445216281994607/embed"
        width="1920" height="1080" frameborder="0"
        allowfullscreen="allowfullscreen"
        allow="autoplay *; geolocation *; microphone *; camera *; midi *; encrypted-media *"></iframe>
  </div>

  <div class="ians-column">

    <p>Here is a summary of the similarities and differences:</p>

  </div>

  <div class="ians-column-wide-2">
    <section data-atabs>
      <div data-atabs-panel="default" data-atabs-tab-label="To Obtain">
        <p>The <strong>requirements to obtain the endorsements</strong>: the major
        difference for OJTIs (in all categories) is a need for valid ATC Licence
        and associated unit endorsement but also two years of exercising it
        immediately preceding the application.</p>
      </div>

      <div data-atabs-panel data-atabs-tab-label="To Exercise">
        <p>The <strong>conditions/requirements to exercise the
          endorsements</strong> strengthened requirement for OJTIs with the 6
        months immediate previous experience in the unit endorsement and
        softened to enable STDIs instructing in the basic training for any
        rating and in the rating training for similar ratings</p>
      </div>

      <div data-atabs-panel data-atabs-tab-label="Privileges">
        <p>
          <strong>The privileges</strong>: OJTIs can provide all types of training
        while, obviously, <strong>STDIs cannot provide operational (OJT)
          training</strong> but also pre-OJT if relevant unit endorsement was
        not held in the past.
      </p>
      </div>

      <div data-atabs-panel data-atabs-tab-label="To Maintain">
        <p>
          <strong>The requirements to maintain the endorsements</strong> the
        additional refresher training on current operational practices for STDIs
        to compensate (partly) for the OJTIs’ experience of valid ATCO Licence.
      </p>
      </div>

      <div data-atabs-panel data-atabs-tab-label="Renewal">
        <p class="mb-12">
          <strong>The requirements for renewal</strong> of expired endorsements
        are almost the same where, again, the only difference is valid ATCO
        licence and possibility for OJTIs to exchange that endorsement for an
        STDI endorsement in case of expired validity of ATCO licence and/or
        associated unit endorsements and requirement for SDTI to have refresher
        training on current operational practises.
      </p>
      </div>
    </section>
  </div>

  {# <div class="ians-column">

    <h3 class="oj-reg-h3 oj-reg-h3-obtain">To Obtain</h3>

    <p>The <strong>requirements to obtain the endorsements</strong>: the major
        difference for OJTIs (in all categories) is a need for valid ATC Licence
        and associated unit endorsement but also two years of exercising it
        immediately preceding the application.</p>

    <h3 class="oj-reg-h3  oj-reg-h3-exercise">To Exercise</h3>

    <p>The <strong>conditions/requirements to exercise the
          endorsements</strong> strengthened requirement for OJTIs with the 6
        months immediate previous experience in the unit endorsement and
        softened to enable STDIs instructing in the basic training for any
        rating and in the rating training for similar ratings</p>

    <h3 class="oj-reg-h3 oj-reg-h3-privilege">Privileges</h3>

    <p>
      <strong>The privileges</strong>: OJTIs can provide all types of training
        while, obviously, <strong>STDIs cannot provide operational (OJT)
          training</strong> but also pre-OJT if relevant unit endorsement was
        not held in the past.
      </p>

    <h3 class="oj-reg-h3  oj-reg-h3-maintain">To Maintain</h3>
    <p>
      <strong>The requirements to maintain the endorsements</strong> the
        additional refresher training on current operational practices for STDIs
        to compensate (partly) for the OJTIs’ experience of valid ATCO Licence.
      </p>

    <h3 class="oj-reg-h3 oj-reg-h3-renewal">Renewal</h3>

    <p class="mb-12">
      <strong>The requirements for renewal</strong> of expired endorsements
        are almost the same where, again, the only difference is valid ATCO
        licence and possibility for OJTIs to exchange that endorsement for an
        STDI endorsement in case of expired validity of ATCO licence and/or
        associated unit endorsements and requirement for SDTI to have refresher
        training on current operational practises.
      </p>

  </div> #}

</main>

<footer>
  <p>&copy; EUROCONTROL</p>
</footer>
<script src="https://trainingzone.h5p.com/js/h5p-resizer.js"
    charset="UTF-8"></script>
<script src="ARIAtabs.js"></script>
<script type="module" src="./main.js"></script>
{% scrollToTop %}
</body>

</html>