.oj-hero {
    background-image: url(images/hero.jpg);
    background-position: 50% 50%;
    margin-bottom: 0;
    border-bottom: 0;
    margin-top: 0;
    border-bottom: 1rem solid var(--oj-light-blue);
  }

  ul.guidelines li{
      margin-left: 2rem;
  }