<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Teams</title>
    {% coreStyles %}
    <link rel="stylesheet" href="styles.css"/>
  </head>
  <body class="relative">
    {% lmsBanner %}
    <header class="ians-column-wide-1">
      <p class="ians-breadcrumb">Human Factors&nbsp;/&nbsp;<img
					class="oj-header-chain"
					src="images/icon-chain.svg"
					alt="chain link icon"
				/></p>
      <h1>Teams</h1>
    </header>
    <main>

      <div class="ians-column">

        <p>There are many different <strong>types of teams</strong> in the ATM environment and all of them are important. Some Teams have <strong>long-term</strong> working relationships (e.g. shift team) and some are <strong>passing</strong> (e.g. helpdesk staff and flight crew).</p>
        <p>In training there are also teams:</p>

      </div>

      <div class="">
        <div class="ians-column-wide-4 ians-grid-2 oj-training-teams">

          <div class="">
            {% image "images/ojti_trainee.jpg",
            "OJTI and trainee",
            "" %}
            <p>The <strong>OJTI and the trainee</strong> is the smallest team</p>
          </div>
          <div class="">
            {% image "images/ojti_team.jpg", "OJTI team"%}
            <p>The <strong>OJTI team</strong> responsible for a trainee's progress</p>
          </div>
          <div class="">
            {% image "images/shift_team.jpg", "Shift team"%}
            <p>The <strong>shift team</strong> responsible for including and working<br>with the trainee</p>
          </div>
          <div class="">
            {% image "images/training_unit.jpg", "Training unit"%}
            <p>The <strong>training unit</strong> as a whole</p>
          </div>

        </div>
      </div>

      <div class="ians-column">

        <p>As with any team, the <strong>attitudes and behaviour of the team</strong> will be a significant factor in determining whether a trainee succeeds or not. A <strong>positive</strong> and <strong>encouraging</strong> approach to a trainee will go a long way to allowing them to transition from 'newbie' to fulling included member of the team.</p>

        <h2>Situational awareness</h2>

        <p>As an OJTI, one of the competencies that is important in managing the trainee's integration into the team is '<strong>situational awareness</strong>'. Normally we talk about situational awareness in the context of awareness of traffic, but in training, an OJTI also needs to develop situational awareness of the <strong>impact the trainee has on any of the other team members</strong> and how that might be affecting their ability to integrate into the team.</p>

      </div>

      <div class="ians-column-wide-2">

        {% image "images/situational_awareness.jpg", "Situational awareness"%}
      </div>

      <div class="ians-column">

        <p>This awareness may be related to an awareness of the <strong>attitude of the trainee</strong> (positive or negative), that affects other controllers (we did an example of this in the previous section). It may how the trainee's actions affect other team members. Or, it may be how other team members are behaving towards the trainee and how that impacts their performance.</p>

        <h2>Harmonising OJTI instructing</h2>

        <p>One of the major challenges faced by any ATCO training team is the difficulty in achieving <strong>consistent instruction and assessment across all the OJTIs</strong>. The biggest concern for many trainees is that they are given conflicting advice and instruction by different OJTIs. This is understandable and to an extent, a competency-based approach puts in place tools and processes that reduce these differences. However, competency-based training and assessment methods cannot completely eliminate all differences and neither is it intended to do so.</p>

        {# <p class="oj-dev-notes">Replace the below with a single wide photo.</p> #}

      </div>

      {# <div class="ians-column-wide-2 oj-harmonise">
        {% image "images/placeholder.jpg", "Placeholder"%}
        <p>=</p>
        {% image "images/placeholder.jpg", "Placeholder"%}
        <p class="oj-harmonise-wrong">!=</p>
        {% image "images/placeholder.jpg", "Placeholder"%}
      </div> #}

      <div class="ians-column">

        <p>Nonetheless, there can be significant benefits in carrying out <strong>team activities</strong> that are focussed on harmonising the interpretation and assessment of various air traffic events and trainees' behaviours. For example, a group of <strong>OJTIs can all observe a performance together</strong> and then evaluate it using their competency model for that environment. This will allow significant differences in interpretation and assessment of a performance to become visible and give everyone an opportunity to discuss and harmonise their approach.</p>

        <p>Another team activity that has resulted in enhanced OJTI performance, is to let <strong>one OJTI provide instruction to another OJTI</strong> and then to provide feedback to each other with the aim of identifying strengths and areas that could improve.</p>

        <p>Whichever way an OJTI receives feedback on their instructional competency, either from a colleague, another OJTI, a student or an assessor; <strong>what they do with this feedback</strong> shows their <strong>attitude</strong> towards OJT. Do they take it on-board, evaluate it, adapt and learn or do they dismiss it or see it as a threat and challenge it?</p>
      </div>
    </main>

    <footer>
      <p>&copy; EUROCONTROL</p>
    </footer>

    <script type="module" src="./main.js"></script>
    {% scrollToTop %}
  </body>
</html>