<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Stress</title>
    {% coreStyles %}
    <link rel="stylesheet" href="tabs.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@900&display=swap&text=STRESS" rel="stylesheet">
    <link rel="stylesheet" href="styles.css"/>
  </head>
  <body class="relative">
    {% lmsBanner %}
    <header class="ians-column-wide-1">
      <p class="ians-breadcrumb">Human Factors&nbsp;/&nbsp;<img
					class="oj-header-chain"
					src="images/icon-chain.svg"
					alt="chain link icon"
				/>
        <h1>Stress</h1>
      </header>
      <main>
        <div class="ians-column">
          <p>
					In this section, we will look at stress, both in general terms and more specifically how it impacts your role as an OJTI. We will cover the meaning of stress, what causes it, how you can identify it, and strategies to avoid, monitor and manage stress. 
				</p>

        </div>

        {# <div class="oj-lowlight">

          <div class="ians-column-wide-4">
            <div class="oj-stress-hero-container">
              {% image "images/hero.jpg",
              "A stressed looking ATCO at his position.", "oj-stress-hero" %}
            </div>
          </div>
        </div> #}
        <div class="oj-hero"></div>

        <div class="ians-column">

          <h2>The Meaning of "Stress"</h2>

          <div>
            <p class="mb-1">To be stressed means that:</p>

            <ul class="mb-8">
              <li>There is a heavy demand placed upon us, which needs a lot of physical and/or mental power to cope with. Such a demand is called a <strong>STRESSOR</strong>.</li>
              <li>We feel tension or a mismatch between the demand placed upon us and our own abilities and/or desire to meet that demand.</li>
            </ul>

            <div class="oj-stress-container">
              <div class="oj-stress-demand">
                <p>Demand</p>
                <img src="images/arrow.svg" alt="Arrow icon">
              </div>
              <p class="oj-stress">Stress</p>
              <div class="oj-stress-meet">
                <img src="images/arrow.svg" alt="Arrow icon">
                <p>Meeting&nbsp;demand</p>
              </div>
            </div>

            <p>
            Everybody is subjected to some sort of stress in their daily lives. This is <strong>normal</strong>, and a certain amount of stress is necessary to do anything. It is good to remember that stress can be a <strong>positive</strong> as well as a negative influence.</p>

            <p>A person’s <strong>perception</strong> of their ability to cope with stress is individual and unique. These perceptions affect us physically, psychologically and emotionally and can have an impact on your ability to carry out your job as an OJTI. Of course, stress also impacts your student and as the instructor, being able to <strong>detect</strong> when your student is stressed will help you to decide what instructing strategies to adopt.</p>
          </div>

          {# <p class="oj-dev-notes">Panels here? Again with down arrows for each (and photo of person it affects?)</p> #}

          <p class="mb-4">In general, stress weighs us down if there is:</p>

        </div>

        <div class="ians-column-wide-4 ians-grid-3 oj-stressor-categories oj-stressor-categories-precent ">

          <div class="oj-notched">
            <h3>
              <span>1</span> Extreme stress agent</h3>
            <p>An <strong>extreme stress agent</strong>, (e.g. you are exposed to a misfortune and left with feelings of helplessness).</p>
          </div>

          <div class="oj-notched">
            <h3>
              <span>2</span> Too much energy required</h3>
            <p>A heavy stress agent which requires <strong>too much energy</strong> to cope with, (e.g. a long-term working project that exceeds your capabilities).</p>
          </div>

          <div class="oj-notched">
            <h3>
              <span>3</span> Frequency</h3>
            <p>Too high a <strong>frequency</strong> of minor stresses, (e.g. a lot of daily problems).</p>
          </div>
        </div>

        <div class="ians-column">

          {# <ul>
            <li>an <strong>extreme stress agent</strong>, (e.g. you are exposed to a misfortune and left with feelings of helplessness),</li>
            <li>a heavy stress agent which requires <strong>too much energy</strong> to cope with, (e.g. a long-term working project that exceeds your capabilities), or </li>
            <li>too high a <strong>frequency</strong> of minor stresses, (e.g. a lot of daily problems).</li>
          </ul> #}

          <h2>Types of "Stressors"</h2>

          <p>Let's take a brief look at some of the stressors that may affect you and/or your student in the <strong>workplace</strong>.</p>

        </div>

        <div class="oj-lowlight py-4">

          <div class="ians-column">

            <p class="ians-text-instruction">In this next exercise, identify who the stressor affects (the Student, the OJTI or Both) and whether the stressor is Physical / environmental, work, social / interpersonal, personal (scroll the table to see all options). Then select the button at the bottom to see our suggestions:</p>

          </div>

          <div class="ians-column-wide-4">
            <div class="oj-stressor-type-container">
              <table class="oj-stressor-type">
                <thead>
                  <tr>
                    <th></th>
                    <th colspan="3">Who</th>
                    <th colspan="5">Type</th>
                  </tr>
                  <tr>
                    <th>Stressor</th>
                    <th>OJTI</th>
                    <th>Student</th>
                    <th>Both</th>
                    <th>Environmental</th>
                    <th>Work</th>
                    <th>Physical</th>
                    <th>Personal</th>
                    <th>Social / interpersonal</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Noise</td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input class="oj-stressor-suggest" type="checkbox" name="" id=""></td>
                    <td><input class="oj-stressor-suggest" type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input class="oj-stressor-suggest" type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                  </tr>
                  <tr>
                    <td>Conflict with supervisor</td>
                    <td><input class="oj-stressor-suggest" type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input class="oj-stressor-suggest" type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                  </tr>
                  <tr>
                    <td>Temperature</td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input class="oj-stressor-suggest" type="checkbox" name="" id=""></td>
                    <td><input class="oj-stressor-suggest" type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input class="oj-stressor-suggest" type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                  </tr>
                  <tr>
                    <td>Personal expectations</td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input class="oj-stressor-suggest" type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input class="oj-stressor-suggest" type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                  </tr>
                  <tr>
                    <td>Examinations</td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input class="oj-stressor-suggest" type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input class="oj-stressor-suggest" type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input class="oj-stressor-suggest" type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                  </tr>
                  <tr>
                    <td>Student performance</td>
                    <td><input class="oj-stressor-suggest" type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input class="oj-stressor-suggest" type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input class="oj-stressor-suggest" type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                  </tr>
                  <tr>
                    <td>Pollution</td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input class="oj-stressor-suggest" type="checkbox" name="" id=""></td>
                    <td><input class="oj-stressor-suggest" type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input class="oj-stressor-suggest" type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                  </tr>
                  <tr>
                    <td>Training process</td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input class="oj-stressor-suggest" type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input class="oj-stressor-suggest" type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                  </tr>
                  <tr>
                    <td>Road traffic</td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input class="oj-stressor-suggest" type="checkbox" name="" id=""></td>
                    <td><input class="oj-stressor-suggest" type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input class="oj-stressor-suggest" type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                  </tr>
                  <tr>
                    <td>Busy control position</td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input class="oj-stressor-suggest" type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input class="oj-stressor-suggest" type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                  </tr>
                  <tr>
                    <td>Isolation from professional / social group</td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input class="oj-stressor-suggest" type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input class="oj-stressor-suggest" type="checkbox" name="" id=""></td>
                  </tr>
                  <tr>
                    <td>Annoying colleague</td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input class="oj-stressor-suggest" type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input class="oj-stressor-suggest" type="checkbox" name="" id=""></td>
                  </tr>
                  <tr>
                    <td>Assessments</td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input class="oj-stressor-suggest" type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input class="oj-stressor-suggest" type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                  </tr>
                  <tr>
                    <td>Personal ambition</td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input class="oj-stressor-suggest" type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input class="oj-stressor-suggest" type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                  </tr>
                  <tr>
                    <td>Vague UTP &amp; OJTI</td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input class="oj-stressor-suggest" type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input class="oj-stressor-suggest" type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <button id="ojShowbutton" class="oj-stressor-type-button">Show suggested answers</button>
          </div>

          <div class="ians-column">

            {# <p class="oj-dev-notes">Create an exercise from the list. A grid would make sense.</p> #}

            <p>In an exercise like the one you have just done, we have tried to provide the most likely answers, but it is possible that you may have considered most of the stressors as having an impact on both the student and the OJTI. </p>

          </div>

        </div>

        <div class="ians-column">

          <p>Remember - stress in itself is not always a bad thing. Short-term stress is not only useful, it gives us the impetus to respond to problems.  When we feel stressed by something, chemical changes occur in our bodies which prepare us to deal with whatever it is that makes us stressed e.g. adrenalin rush or heightened alertness.  When the activity is over, the body returns to normal and no harm has been done; the body has adapted and we remain healthy.</p>

          <p>However, the body cannot cope so readily with the impact of continual stress over longer periods of time.  As a stressful situation continues, the body struggles to cope and damage is done.</p>

          <img class="oj-coping-graph" src="images/coping-graph-V2.svg" alt="A graph showing ability to cope reducing over time">

          <p>An effective way to alleviate stress is to <strong>identify</strong>, <strong>monitor and</strong> attempt to <strong>remove</strong> as many of the stressors as possible, for yourself and your student.</p>

          {# <p class="oj-dev-notes">I've moved the paragraph above from two paragraphs above as it seems a more logical place for it leading into the next section.</p> #}

          <h2>Stress Appraisal</h2>

          {# <p class="oj-dev-notes">3 panel</p> #}

          <p>The perception of something as a stressor contains an appraisal i.e. "What is this demand that is being placed upon me?"</p>

          <p>Immediately following this primary appraisal is a secondary appraisal. "Can I cope with the demand?"</p>

          <p>The appraisal of stressors and subsequent reaction is called the Stress Reaction.</p>

          <p>Stressors and Stress Reactions can be classified into <strong>three</strong> fundamental <strong>categories</strong> of stress, which we will now discuss.</p>

          <h2>Reactions to Stressors</h2>

          <p>It is important to remember that we all cope and react to stress in different ways, each of us have differing levels of tolerance and different methods of coping.  We also perceive the type and intensity of stress differently.</p>

          {# <p>Take a look at the following situation:</p> #}

        </div>

        {# <div class="ians-column-wide-2">
          {% vimeo "637022637?h=daf5a4146b" %}
        </div> #}

        <div class="ians-column">
          {# <p class="oj-dev-notes">Video above is a placeholder. Images below are placeholders and should be replaced by custom images or those taken from video.</p> #}

          <p>There are three main stressor categories, each of which has its own typical reaction: </p>

        </div>

        <div class="ians-column-wide-4 ians-grid-3 oj-stressor-categories">
          <div class="oj-notched challenge">
            <div class="oj-stressor-categories-title">
              <p class="oj-stressor-categories-label">Stressor category:</p>
              <h3>Challenge</h3>
            </div>
            <p class="oj-stressor-categories-label">Stress reaction:</p>
            <p>Effort associated with (mainly) positive feelings</p>
          </div>

          <div class="oj-notched threat">
            <div class="oj-stressor-categories-title">
              <p class="oj-stressor-categories-label">Stressor category:</p>
              <h3>Threat</h3>
            </div>
            <p class="oj-stressor-categories-label">Stress reaction:</p>
            <p>Effort allied with negative feelings</p>
          </div>

          <div class="oj-notched harm-loss">
            <div class="oj-stressor-categories-title">
              <p class="oj-stressor-categories-label">Stressor category:</p>
              <h3>Harm / Loss</h3>
            </div>
            <p class="oj-stressor-categories-label">Stress reaction:</p>
            <p>Negative feelings with related passive effort</p>
          </div>
        </div>

        <div class="ians-column">

          <h2>Symptoms of Stress in a Student</h2>

          <p>Stress with negative short-term effects will arise, both for the student and the OJTI.</p>

          <p>The <strong>symptoms</strong> are most noticeable when the person is in stress overload. However, remember that many students, for several reasons, are able to hide their symptoms through various  strategies. This may lead you to think that there is no problem, or make it difficult to realise that there is a problem. This may make the <strong>recognition</strong> of stress symptoms in others <strong>very difficult</strong>.</p>

          {# <p class="oj-dev-notes">tabs</p> #}

          <p>In general, responses to stress overload fall into one of four categories:</p>

        </div>

        <div class="ians-column-wide-5">

          <section data-atabs>
            <div data-atabs-panel="default" data-atabs-tab-label="Behavioural">

              <div class="oj-list-symptoms-grid-2">
                <ul class="oj-list-symptoms">
                  <li>Late for work</li>
                  <li>Poor performance</li>
                  <li>Social isolation</li>
                  <li>Procrastinating or neglecting responsibilities</li>
                  <li>Eating more or less</li>
                  <li>Sleeping too much or too little</li>
                  <li>Isolating yourself from others</li>
                  <li>Abuse of alcohol, cigarettes or drugs to relax</li>
                  <li>Nervous habits</li>
                  <li>Explosiveness</li>
                </ul>

                <div class="ians-bg-blue-dark oj-list-symptoms-text oj-notched">
                  <p>Stress overload can affect the way a student acts at work, at home and/or with friends. At times, stress may become so severe that <strong>alcohol</strong> is used to self-medicate anxiety or depression.</p>

                  <p>Using alcohol as a coping strategy is particularly dangerous since it impairs judgement and increases impulsivity. </p>

                  {% image "images/behavioural.jpg", "A sad looking man sitting at a table drinking alcohol."%}
                </div>
              </div>
            </div>

            <div data-atabs-panel data-atabs-tab-label="Physical">
              <div class="oj-list-symptoms-grid-3">
                <div>
                  <p class="oj-list-symptoms-title mt-0">Immediate effects:</p>

                  <ul class="oj-list-symptoms">
                    <li>Sweaty palms</li>
                    <li>Increased heart rate</li>
                    <li>Trembling</li>
                    <li>Shortness of breath</li>
                    <li>Gastrointestinal distress</li>
                    <li>Muscle Tension</li>
                  </ul>
                </div>
                <div>
                  <p class="oj-list-symptoms-title">Long-term effects:</p>

                  <ul class="oj-list-symptoms">
                    <li>Sleep problems</li>
                    <li>Backaches</li>
                    <li>Increased blood pressure</li>
                    <li>Weak immune system</li>
                    <li>Suppression</li>
                    <li>Fatigue</li>
                    <li>Anxiety disorders</li>
                  </ul>
                </div>

                <div>{% image "images/physical.jpg", "A man asleep on a coach.", "oj-img-sleep" %}</div>

                <div class="ians-bg-blue-dark oj-list-symptoms-text oj-notched">
                  <p>Physical stressors are familiar to us all and generally get the most attention. They come in various shapes and forms, from acute chronic pain to inflammation and suffering from an illness. 43% of all adults suffer adverse health effects from stress.</p>

                  <p>The <strong>immediate</strong> physical response to a stressful situation involves overall heightened arousal of the body such as increased blood pressure, tensing of the muscles and the release of sugars and fats into circulation to provide fuel for "fight or flight".</p>

                  <p>
                    <strong>Prolonged</strong> stress and its continuous effects on the body may produce longer-term physical symptoms such as muscle tension and pain, headaches, gastrointestinal problems and decreased immunity to infectious diseases.</p>

                  <p>
                    <strong>Sleep</strong> is a big factor with adrenal fatigue. Most of us don't sleep enough or the quality of our sleep is generally poor. On top of that, we are always on the go and rarely take the rest and time out that we need.</p>
                </div>
              </div>
            </div>

            <div data-atabs-panel data-atabs-tab-label="Emotional">
              <div class="oj-list-symptoms-grid-2">
                <ul class="oj-list-symptoms">
                  <li>Irritability or short temper</li>
                  <li>Hostility</li>
                  <li>Anxiety</li>
                  <li>Moodiness</li>
                  <li>Agitation, inability to relax</li>
                  <li>Feeling overwhelmed</li>
                  <li>Loss of self-esteem</li>
                  <li>Feelings of helplessness</li>
                  <li>Anhedonia</li>
                  <li>Sense of loneliness and isolation</li>
                  <li>Depression or general unhappiness</li>
                </ul>

                <div class="ians-bg-blue-dark oj-list-symptoms-text oj-notched">
                  <p>Emotional responses to stress overload can range from a keyed-up sense of <strong>anxiety</strong> and <strong>irritability</strong> to social <strong>withdrawal</strong> and <strong>depression</strong>.</p>

                  <p>
                    <strong>Anhedonia</strong> is a symptom of depression involving an extreme loss of pleasure in activities that were once enjoyable. People suffering from stress overload may lose interest in hobbies and other leisure activities and find little happiness in life.</p>

                  {% image "images/emotional.jpg", "An ATCO looking angry during an OJT session."%}
                </div>
              </div>
            </div>

            <div data-atabs-panel data-atabs-tab-label="Cognitive">
              <div class="oj-list-symptoms-grid-2">

                <div>
                  <ul class="oj-list-symptoms">
                    <li>Obsession or excessive worrying</li>
                    <li>Decreased attention</li>
                    <li>Impaired memory</li>
                    <li>Poor judgement</li>
                    <li>Poor psychomotor coordination</li>
                  </ul>
                  {% image "images/cognitive.jpg", "An ATCO reacting after forgetting something.", "oj-atc-cognitive" %}
                </div>

                <div class="ians-bg-blue-dark oj-list-symptoms-text oj-notched">
                  <p>
                    <strong>Prolonged</strong> stress may affect thinking (a.k.a cognition).</p>

                  <p>It is important to remember that one or more of these symptoms <strong>in isolation</strong> may not necessarily point to a problem, but it could be a tell-tale sign of possible future problems.</p>

                  <p>These symptoms do not necessarily appear simultaneously and some physical symptoms may have causes other than stress. Part of the problem is that it is often the case that stress does not show itself in such an obvious way. Some forms of stress, even of a major degree, may be <strong>masked</strong> by activity.</p>

                  <p>The most common and obvious signs of stress are generally recognised as persistent tiredness, anxiety and depression, but any reactions, including those we have mentioned, can be an indication of stress, especially if they are <strong>out-of-character</strong>.</p>

                </div>
              </div>
            </section>

          </div>

          <div class="ians-column">

            <h2>Effects of Stress on Training</h2>

            <p>Prolonged stress may affect thinking (a.k.a. cognition) as well as emotions and behaviour. This is a serious issue for students, as problems with judgement, attention, or concentration pose a great risk to air safety.</p>

            <p>For example, under high stress conditions there is a tendency to oversimplify problem solving and ignore important relevant information, taking the "easy way out." This is called the <strong>Simplification Heuristic</strong>.</p>

            <h3>Stress-related Regression</h3>

            <p>Many individuals under high stress conditions will also <strong>forget learned procedures and skills</strong> and revert to <strong>bad habits</strong> in a phenomenon called Stress-Related Regression.</p>

            {% image "images/forgetting.jpg",
            "ATCO during OJT." %}

            <p>For example, a student controller managing a very busy arrival sequence may forget to cancel speed restrictions on some aircraft and after realising the problem, may start feeling stressed and embarrassed. He may then decide to use vectoring instead of speed control. This action would be contrary to his training and represents a kind of regression or failure to utilize prior learning.</p>

            <h3>Perceptual Tunnelling</h3>

            <p>Yet another stress-related cognitive error is Perceptual Tunnelling. It is a phenomenon in which an air traffic controller or a team under high stress becomes <strong>focused on one stimulus</strong>, such as an aircraft experiencing an unusual situation, and <strong>neglects</strong> to attend to other important <strong>tasks</strong> or <strong>information</strong>, such as other aircraft in the sector which require climb or descent clearances.</p>

            {# <p class="oj-dev-notes">Is it worth referencing this quite famous example of perception tunneling? https://www.youtube.com/watch?v=JzlvgtPIof4</p> #}

            <p>Beyond affecting memory, judgement and attention, stress can even decrease hand-eye coordination and muscle control.</p>

            <p class="">Any stress that interferes with the quality of training must be considered to be relevant. Let's look at some of the consequences:</p>

          </div>

          {# <div class="oj-lowlight">
            <div class="ians-column-wide-3">
              <ul class="oj-perception-tunnel-list">
                <li>Impaired concentration &amp; memory</li>
                <li>Constricted perception</li>
                <li>Situational stereotyping</li>
                <li>Problem-solving</li>
                <li>Repetitive thinking</li>
                <li>Slowed-down performance</li>
                <li>Absent-mindedness</li>
                <li>Day-dreaming</li>
                <li>Forgetfulness</li>
                <li>Diffusion of attention</li>
                <li>Simple or impulsive decisions</li>
                <li>Thinking blockages</li>
                <li>Task-irrelevant behaviour</li>
              </ul>
            </div>
          </div> #}
          <div class="ians-column-wide-3">
            {% image "images/stress-consequences-wordCloud.png",
            "Stress consequences word cloud" %}
          </div>

          <div class="ians-column">

            <p>There is <strong>no way we can eliminate all stress</strong> from the training process and since certain types of stress are positive and productive (Challenge) we would not want to. Stress is inherent in the process of exposure to the unknown, and as we all know, no matter how much theory or simulated practice you have had, "real life" is another world!</p>

            <p>Stress of the "threat" or of the "harm/loss" type is capable of interfering significantly with training. As we have discussed, these types of threats can occur as a result of the training process or originate from events outside training.</p>

            <p>Regardless of where it comes from, if it reaches a level that is difficult for the student to cope with, stress will have a counterproductive effect on training.</p>

            <h2>Ways to Prevent Stress in Training</h2>

            <p class="">There are <strong>three fundamental conditions</strong> that should exist for a student to feel equipped to cope with demands of OJT without unnecessary stress:</p>

          </div>

          <div class="ians-column-wide-4 ians-grid-3 oj-stressor-categories oj-stressor-categories-precent ">

            <div class="oj-notched">
              <h3>
                <span>1</span> Self-confidence</h3>
              <p>They should have a high, but realistic degree of <strong>self-confidence</strong> in their learning ability. To feel unsure, generates negative thoughts that interfere with training. From an instructor perspective, you can <strong>reduce</strong> feelings of <strong>uncertainty</strong> by being <strong>clear about the training objectives and unambiguous in your debriefing</strong> with the student about their performance.</p>
            </div>

            <div class="oj-notched">
              <h3>
                <span>2</span> Positive learning environment</h3>
              <p>They should feel that they are in a <strong>positive learning environment</strong> where success is acknowledged, and they know they will get predictable and reliable support from their instructor.</p>
            </div>

            <div class="oj-notched">
              <h3>
                <span>3</span> Clear training process</h3>
              <p>They should have a clear understanding of the <strong>training process</strong> they are going through and what is <strong>expected</strong> from them. A comprehensive UTP and clear training objectives for each session is necessary for this condition to be met.</p>
            </div>
          </div>

          <div class="ians-column">

            {# <ol>
              <li>They should have a high, but realistic degree of <strong>self-confidence</strong> in their learning ability. To feel unsure, generates negative thoughts that interfere with training. From an instructor perspective, you can <strong>reduce</strong> feelings of <strong>uncertainty</strong> by being <strong>clear about the training objectives and unambiguous in your debriefing</strong> with the student about their performance.</li>
              <li>They should feel that they are in a <strong>positive learning environment</strong> where success is acknowledged, and they know they will get predictable and reliable support from their instructor.</li>
              <li>They should have a clear understanding of the <strong>training process</strong> they are going through and what is <strong>expected</strong> from them. A comprehensive UTP and clear training objectives for each session is necessary for this condition to be met.</li>
            </ol> #}

            <p>As an <strong>instructor</strong>, you can help you student by:</p>

            {# <p>Having a "<strong>Positive Regard</strong>" for your student. This means taking an interest in your trainee and being friendly and attentive. It does not require you to particularly like the trainee. The opposite attitude is indifference or even disregard.</p>

            <p>Treating your trainee as you would like to be treated yourself.</p>

            <p>Being <strong>honest and conscientious</strong> in what you do in order to have, and to maintain the <strong>confidence of your trainee</strong>. This also means that you <strong>should not hide problems</strong> because you are worried that you may upset the trainee.</p>

            <p>If you feel that there is tension in your relationship, you should discuss it in a friendly way with your trainee.</p> #}

          </div>

          <div class="ians-column-wide-4 ians-grid-4 oj-stressor-categories oj-stressor-categories-precent oj-s-last">

            <div class="oj-notched">
              <h3>
                <span>1</span> Positive regard</h3>
              <p>Having a "<strong>Positive Regard</strong>" for your student. This means taking an interest in your trainee and being friendly and attentive. It does not require you to particularly like the trainee. The opposite attitude is indifference or even disregard.</p>
            </div>

            <div class="oj-notched">
              <h3>
                <span>2</span> Equality</h3>
              <p>Treating your trainee as you would like to be treated yourself.</p>
            </div>

            <div class="oj-notched">
              <h3>
                <span>3</span> Honest &amp; conscientious</h3>
              <p>Being <strong>honest and conscientious</strong> in what you do in order to have, and to maintain the <strong>confidence of your trainee</strong>. This also means that you <strong>should not hide problems</strong> because you are worried that you may upset the trainee.</p>
            </div>

            <div class="oj-notched">
              <h3>
                <span>4</span> Open &amp; friendly</h3>
              <p>If you feel that there is tension in your relationship, you should discuss it in a friendly way with your trainee.</p>
            </div>
          </div>
        </main>

        <footer>
          <p>&copy; EUROCONTROL</p>
        </footer>

        <script src="ARIAtabs.js"></script>
        <script type="module" src="./main.js"></script>
        {% scrollToTop %}
      </body>
    </html>