<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Regulatory Environment – Training Requirements</title>
    {% coreStyles %}
    <link rel="stylesheet" href="styles.css"/>
  </head>
  <body class="relative">
    {% lmsBanner %}
    <header class="ians-column-wide-1">
      <p class="ians-breadcrumb">
				The Training Organisation&nbsp;/
				<img
					class="oj-header-chain"
					src="images/icon-chain.svg"
					alt="chain link icon"
				/>
      </p>
      <h1>Regulatory Environment – Training Requirements</h1>
    </header>
    <main>
      <div class="ians-column">
        <h2 class="oj-pt0-important">Introduction</h2>
        <p>
					We have covered the requirements for the practical instructor and now we will have a look at their <strong>working environment</strong> or requirements for <strong>training types</strong> and the unit(s) where OJTIs (and STDIs) usually operate.
				</p>

      </div>

      <div class="oj-hero"></div>

      <div class="ians-column">

        <p>Again, most of the terms listed here have been in existence in Europe for many years and regulated in one way or another but now they are grouped <strong>as requirements</strong> in the appropriate parts of the ATCO Licensing Regulation.</p>

        <p>The diagram below shows where in the Regulation the various requirements are found:</p>

        {# <p class="oj-dev-notes">Torn paper book contents format - double tear? Not much time on this.</p> #}

      </div>

      <div class="oj-lowlight oj-paper-torn-container">

        <div class="ians-column-wide-1 oj-paper-torn">

          <ol class="list-inside list-disc oj-reg-list-decimal">
            <li>SECTION 1 GENERAL REQUIREMENTS </li>
            <ol  class="list-inside oj-reg-list-alpha">
              <li>ATCO.D.001 Objectives of air traffic controller training </li>
              <li>ATCO.D.005 Types of air traffic controller training</li>
            </ol>
            <li>SECTION 2 INITIAL TRAINING REQUIREMENTS</li>
            <li>SECTION 3 UNIT TRAINING REQUIREMENTS </li>
            <ol class="list-inside oj-reg-list-alpha">
              <li>ATCO.D.045 Composition of unit training</li>
              <li>ATCO.D.050 Prerequisites of unit training </li>
              <li>ATCO.D.055 Unit training plan</li>
              <li>ATCO.D.060 Unit endorsement course</li>
              <li>ATCO.D.065 Demonstration of theoretical knowledge and understanding</li>
              <li>ATCO.D.070 Assessments during unit endorsement courses </li>
            </ol>
            <li>SECTION 4 CONTINUATION TRAINING REQUIREMENTS</li>
            <ol class="list-inside oj-reg-list-alpha">
              <li>ATCO.D.075 Continuation training </li>
              <li>ATCO.D.080 Refresher training</li>
              <li>ATCO.D.085 Conversion training</li>
            </ol>
            <li>SECTION 5 TRAINING OF INSTRUCTORS AND ASSESSORS</li>
            <ol class="list-inside oj-reg-list-alpha">
              <li>ATCO.D.090 Training of practical instructors</li>
              <li>ATCO.D.095 Training of assessors</li>
            </ol>
        </ol>

      </div>
    </div>

    <div class="ians-column">

      <h2>Unit Training Requirements</h2>

    </div>

    <div class="ians-column-wide-2">
      <div class="oj-photo-glass-text ians-bg-blue-dark">
        {% image "images/young-atco.jpg", "A young ATCO undergoing training."%}
        <div>
          <p>OJTIs deliver training at an ATC Unit. Unit training is the training that allows an <strong>ATC or student ATCO</strong> to acquire the practical skills and site-specific knowledge needed to perform the job of an air traffic controller <strong>at that unit</strong>.</p>
        </div>
      </div>
    </div>

    <div class="ians-column">

      <p>Every ATC unit must have a <strong>Unit Training Plan</strong> (UTP) that has been approved by the competent authority. The UTP contains the details of every ‘unit endorsement course’ that is provided at a unit.</p>

      {# <p class="oj-dev-notes">Not sure of the logic of which text gets made bold below.</p> #}

      <p>The UTP contains:</p>

      <ul class="oj-utp-list">
        <li>
          list of unit endorsement course(s), ratings and endorsements</li>
        <li>
          structure, training methods, min. duration,</li>
        <li>
          processes for conduct and adaptations of unit endorsement course(s)</li>
        <li>
          examinations &amp; assessments</li>
        <li>
          training personnel qualifications, roles, responsibilities</li>
        <li>
          early termination of training &amp; appeal process</li>
        <li>
          specific records</li>
        <li>
          list of abnormal/ emergency situations</li>
        <li>
          review process and reasons</li>
      </ul>

      <div class="oj-utp-list-title">
        <p>ATCO.D.055(b) + Supporting AMCs and GM</p>
      </div>

      <p>To undertake unit training the person <strong>must have</strong> either a Student ATCO Licence or an ATCO Licence.</p>

      <h2>Unit Endorsement Course</h2>

      <p>The ATCO Licensing regulation introduced the term ‘unit endorsement course’, however the structure and phases of such a course will be <strong>familiar</strong> to you as it is the same structure that units have been using for many years; Transitional, Pre-OJT and OJT phases.</p>

    </div>

    <div class="ians-grid-4 ians-column-wide-4 oj-phases oj-phases-1">
      <div>
        <p class="oj-phases-title">Transitional</p>
        <p class="oj-phases-formative">Formative</p>
      </div>
      <div>
        <p class="oj-phases-title">Pre-OJT</p>
        <p class="oj-phases-formative">Formative</p>
        <p class="oj-phases-summative">Summative</p>
      </div>
      <div>
        <p class="oj-phases-title">OJTI</p>
        <p class="oj-phases-formative">Formative</p>
        <p class="oj-phases-summative">Summative</p>
      </div>
      <div>
        <p class="oj-phases-title">ATCO licence /<br/>New Endorsement</p>
        <div class="oj-phases-icon">{% include "./images/icon-badge-check.svg" %}</div>
      </div>
    </div>

    <div class="ians-column">

      <p>Apart from the delivery of the training, practical instructors will be involved in the <strong>evaluation</strong> of the trainees’ progress through session/daily (<strong>formative</strong>) assessments and could also be involved in the dedicated (<strong>summative</strong>) assessments required at least once at the end of the pre-OJT and OJT training. For formal competence assessments, there is a requirement for practical instructors to hold the <strong>assessor endorsement</strong> as well. </p>

    </div>

    <div class="ians-grid-4 ians-column-wide-4 oj-phases oj-phases-2">
      <div>
        <p class="oj-phases-title">Transitional</p>
        <p class="oj-phases-formative">Formative</p>
      </div>
      <div>
        <p class="oj-phases-title">Pre-OJT</p>
        <p class="oj-phases-formative">Formative</p>
        <p class="oj-phases-summative">Summative</p>
      </div>
      <div>
        <p class="oj-phases-title">OJTI</p>
        <p class="oj-phases-formative">Formative</p>
        <p class="oj-phases-summative">Summative</p>
      </div>
      <div>
        <p class="oj-phases-title">ATCO licence /<br/>New Endorsement</p>
        <div class="oj-phases-icon">{% include "./images/icon-badge-check.svg" %}</div>
      </div>
    </div>

    <div class="ians-column">

      <p>The end result of the Unit training is shown in the diagram below:
      
      {# (in other words, the completion of at least one Unit Endorsement course) for a student ATCO will be the issuance of an <strong>ATCO licence</strong> with the appropriate rating/unit endorsement(s). While for ATCOs who are already holders of an ATCO Licence, the end result of Unit training could be the addition of <strong>new endorsement</strong> or the renewal of an expired, suspended or revoked endorsement. #}</p>

    </div>

    <div class="ians-column-wide-4 unit-training-diagram">

      <img src="images/unit-training-result-V2.svg" alt="Unit training results diagram.">
      {# <div>
        <p class="oj-phases-title">Transitional</p>
        <p class="oj-phases-formative">Formative</p>
      </div>
      <div>
        <p class="oj-phases-title">Pre-OJT</p>
        <p class="oj-phases-formative">Formative</p>
        <p class="oj-phases-summative">Summative</p>
      </div>
      <div>
        <p class="oj-phases-title">OJTI</p>
        <p class="oj-phases-formative">Formative</p>
        <p class="oj-phases-summative">Summative</p>
      </div>
      <div>
        <p class="oj-phases-title">ATCO licence /<br/>New Endorsement</p>
        <div class="oj-phases-icon">{% include "./images/icon-badge-check.svg" %}</div>
      </div> #}
    </div>

    <div class="ians-column">

      <h2>Continuation Training Requirements</h2>

      <p>
        <strong>Continuation training</strong>, is designed to maintain the validity of the endorsements of the license and shall consist of <strong>refresher</strong> and <strong>conversion</strong> training courses. It shall be provided according to the requirements contained in the <strong>Unit Competence Scheme</strong> (UCS) as detailed in <strong>ATCO.B.025</strong>
      </p>

      <p>In the graphic below, you can see where the Refresher and Continuation training requirements fit and the UCS requirements that are directly related to Refresher training.</p>

    </div>

    <div class="ians-column-wide-2 oj-s4">
      <div class="oj-s4-title">
        <p>Section 4</p>
        <p>ATCO.D.075</p>
        <p>Continuation Training Requirements</p>
      </div>
      <div>
        <div class="oj-s4-sub-1">
          <p class="oj-s4-sub-header">
            <span>ATCO.D.080</span> Refresher training</p>
          <p class="oj-s4-sub1-a">Unit competence scheme (ATCO.B.025)</p>
          <p class="oj-s4-sub1-b">Processes for assessment and/or examination</p>
          <p class="oj-s4-sub1-b">Duration and frequency of the refresher training</p>
          <p class="oj-s4-sub1-b">Topics, subtopics, objectives and methods</p>
          <p class="oj-s4-sub1-b">Staff qualifications, roles and responsibilities</p>
        </div>
        <div class="oj-s4-sub-2">
          <p class="oj-s4-sub-header">
            <span>ATCO.D.085</span> Conversion training</p>
        </div>
      </div>
    </div>

    <div class="ians-column">

      <p>During Unit training, OJTIs (and in some phases, STDIs) typically instruct student ATCOs who are starting their first professional job and gaining their first ATC rating. They also instruct more mature ATCOs who may have moved from one sector or unit to another to acquire a new or renew an expired endorsement(s). </p>

      <p>During continuation training, however, the <strong>learners are always the instructor’s peers or colleagues</strong> that s/he works with on a daily bases. As a result, the instructor may need to <strong>modify</strong> their method of instructing. It could include elements of classic instructional techniques with coaching and individual facilitation. Continuation training is an opportunity for the instructor to enable a fellow controller, through guided analysis, to <strong>evaluate for themselves</strong> what is most appropriate and effective.</p>

      <div class="oj-continuation ians-bg-blue-dark">
        <p>
          <strong class="oj-continuation-strong">Continuation training (ATCO.D.075)</strong> aims at maintaining air traffic controllers’ skills and competence, and concerns all <strong>licensed air traffic controllers with a valid unit endorsement</strong> in the Unit. </p>

        {% image "./images/atc-1.jpg", "ATC working"%}
      </div>

      <div class="oj-refresher ians-bg-blue-dark">
        <p class="mt-0">
          <strong>Continuation training:</strong>
        </p>
        <div class="oj-continuation-refresher">
          <p class="mt-0">
            <strong class="oj-continuation-strong">Refresher training (ATCO.D.080)</strong> is a mandatory part of Continuation training that all ATCOs must undertake regularly and has three subjects that must be covered:</p>

          <ul class="list-inside list-disc">
            <li>
              <strong>Standard practices</strong> with communication and phraseology</li>
            <li>
              <strong>Abnormal / emergency</strong> with communication and phraseology</li>
            <li>
              <strong>Human factors</strong>
            </li>
          </ul>

          {% image "./images/atc-2.jpg", "ATC working"%}
        </div>

      </div>
    </div>

    <div class="oj-info-panel-container">

      <div class="oj-info-panel oj-notched">
        <p>Guidance for the development of refresher training courses can be found in EUROCONTROL’s document <a href="https://learningzone.eurocontrol.int/ilp/pages/mediacontent.jsf?mediaId=5383232&catalogId=4451312&menuId=9452989" target="_blank">"ATC Refresher Training Manual", Edition 1.0., dated 06.03.2015</a>.</p>
      </div>
    </div>

    <div class="ians-column">

      <p>Instructors participating in the refresher training may be asked to <strong>evaluate</strong> (assess) if trainees have achieved the training objectives and/or enhanced their knowledge, skills and attitudes so that they are able to do their job safely and competently. It is important <strong>not to confuse</strong> this formative type of assessment with the formal competence assessment (dedicated or continuous) that is also required and usually detailed in the UCS.</p>

      <div class="oj-refresher ians-bg-blue-dark">
        <p class="mt-0">
          <strong>Continuation training:</strong>
        </p>
        <div class="oj-continuation-refresher">
          <p class="mt-0">
            <strong class="oj-continuation-strong">Conversion training (ATCO.D.085)</strong> is only provided when:</p>

          <ul class="list-inside list-disc">
            <li>there is to be <strong>a change in the operational environment</strong>,</li>
            <li>a <strong>safety assessment</strong> of the change is needed. </li>
          </ul>

          {% image "./images/atc-3.jpg", "ATC working"%}

        </div>
      </div>

      <p>Conversion training shall be provided <strong>before</strong> the implementation of the change.</p>

      <h2>Practical Instructor Training</h2>

    </div>

    <div class="ians-column-wide-2 ians-grid-2">

      <p class="mt-0">To train practical instructors (so, either OJTIs or STDIs), training organisations shall develop and provide a <strong>practical instructional techniques course</strong> for the issuance of an OJTI or STDI endorsement with a corresponding refresher course on practical instructional skills for the purpose of revalidation or renewal of these endorsements. The training courses and assessment methods shall be approved by the competent authority.
</p>

      {% image "./images/experienced-atc.jpg", "Two experienced controllers in discussion."%}
    </div>

    <div class="ians-column">

      <p>A successful assessment of instructional techniques for practical instructors should <strong>establish competence</strong> at least in the areas listed in AMC2 to ATCO.D.090(a)(1) shown below:</p>

      <ol class="oj-utp-list oj-utp-list-count">

        <li>regulatory impact on air traffic controller training;</li>

        <li>human factors impact on air traffic controller training;</li>
        <li>determination of the <strong>background and experience</strong> of the person undertaking training</li>

        <li>determination of the <strong>current level of ability</strong> of the person undertaking training</li>

        <li>conduct of a pre-session <strong>briefing</strong>;</li>

        <li>planning and conduct of the training session;</li>

        <li>
          <strong>demonstration</strong> and explanation of the tasks;</li>

        <li>
          <strong>monitoring</strong> of the training session;</li>

        <li>management of <strong>interventions</strong> correctly, including <strong>error correction</strong>;</li>

        <li>
          <strong>evaluation of the performance</strong> of the person undertaking training;</li>

        <li>
          <strong>debrief</strong> of the person undertaking training:</li>

        <li>furnishing of written reports on the performance of the person undertaking training;</li>

        <li>taking appropriate follow-up action towards resolving training problems;</li>

        <li>techniques of pausing clocks; and</li>

        <li>knowledge of technical facilities/environment.</li>

      </ol>

      <h2>Related information</h2>

      <p>Here are some links that you may find interesting that relate to OJTI training.</p>

      {# <p class="oj-dev-notes">Links to be provided</p> #}

      <ul class="list-disc list-inside mb-12">
        <li>
          <a href="https://www.easa.europa.eu/sites/default/files/dfu/Easy_Access_Rules_for_Air_Traffic_Controllers_Licensing_and_Certificatio....pdf" target="_blank">Easy Access Rules for Air Traffic Controllers’
Licensing and Certification
(Regulation (EU) 2015/340)</a>
        </li>
        <li>
          <a href="https://trainingzone.eurocontrol.int/ilp/pages/mediacontent.jsf?catalogId=4451312&mediaId=5383232">EUROCONTROL ATC Refresher Training Manual Edition 1.0</a>
        </li>
        <li>
          <a href="https://trainingzone.eurocontrol.int/ilp/pages/mediacontent.jsf?catalogId=765152&mediaId=5187802" target="_blank">Guidelines for the Development of Unit Training Plans</a>
        </li>
        <li>
          <a href="https://trainingzone.eurocontrol.int/ilp/pages/mediacontent.jsf?catalogId=765152&mediaId=5187812" target="_blank">EUROCONTROL Guidelines for ATCO Development Training: OJTI Course Syllabus</a>
        </li>
        <li>
          <a href="https://trainingzone.eurocontrol.int/ilp/pages/mediacontent.jsf?catalogId=765152&mediaId=5187721" target="_blank">Air Traffic Controller Development Training - OJTI Refresher Course</a>
        </li>
        <li>
          <a href="https://trainingzone.eurocontrol.int/ilp/pages/mediacontent.jsf?catalogId=765152&mediaId=5187732" target="_blank">Air Traffic Controller Training at Operational Units</a>
        </li>
        <li>
          <a href="https://trainingzone.eurocontrol.int/ilp/pages/mediacontent.jsf?catalogId=765155&mediaId=5193349" target="_blank">ATCO Rating Training Performance Objectives</a>
        </li>
        <li>
          <a href="https://trainingzone.eurocontrol.int/ilp/pages/mediacontent.jsf?catalogId=765155&mediaId=5188986" target="_blank">Guidance for Developing ATCO Basic Training Plans</a>
        </li>
      </ul>

    </div>
  </main>

  <footer>
    <p>&copy; EUROCONTROL</p>
  </footer>

  <script type="module" src="./main.js"></script>
  {% scrollToTop %}
</body>
</html>