<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Motivation &amp; Attitude</title>
    {% coreStyles %}
    <link rel="stylesheet" href="styles.css"/>
  </head>
  <body class="relative">
    {% lmsBanner %}
    <header class="ians-column-wide-1">
      <p class="ians-breadcrumb">Human Factors&nbsp;/&nbsp;<img
					class="oj-header-chain"
					src="images/icon-chain.svg"
					alt="chain link icon"
				/></p>
      <h1>Motivation &amp; Attitude</h1>
    </header>
    <main>

      <div class="ians-column mt-8">
        <h2 class="oj-pt0-important">Motivation</h2>
        <p>
					Why do we do the things we do? What drives our behaviour? 
				</p>

      </div>

      <div class="oj-full-width-question">
        <div class="ians-column-wide-3">
          <p>Motivation is the desire to act, to achieve something that we want.</p>
        </div>
      </div>

      <div class="oj-hero"></div>

      <div class="ians-column mt-12">
        <p>Psychologists have proposed different ways of thinking about motivation, including looking at whether motivation arises from <strong>outside</strong> (extrinsic) or <strong>inside</strong> (intrinsic) an individual.</p>

        <p>Researchers have found that each type has a different effect on a person's behaviour and pursuit of goals. To better understand the influence of intrinsic and extrinsic motivation on human behaviour, it will help to learn how each type works.</p>

      </div>

      <div class="ians-column-wide-2 ians-grid-2 oj-motivation-definitions">

        <div class="oj-notched">
          <h3>Extrinsic</h3>

          <p><img class="oj-icon-motivation" src="images/icon-extrinsic.svg" alt="Extrinsic icon"> When we are motivated to perform a behaviour or engage in an activity because we want to <strong>earn a reward</strong> or <strong>avoid punishment</strong>. You will engage in behaviour not because you enjoy it or because you find it satisfying, but because you expect to get something in return or avoid something unpleasant.
</p>
        </div>

        <div class="oj-notched">
          <h3>Intrinsic</h3>

          <p><img class="oj-icon-motivation" src="images/icon-intrinsic.svg" alt="Extrinsic icon"> When you engage in a behaviour because you <strong>find it rewarding</strong>. You are performing an activity for its own sake rather than from the desire for some external reward. The behaviour itself is <strong>its own reward</strong>. 
</p>
        </div>

      </div>

      <div class="ians-column">

        <p>Take a look at the following behaviours and decide whether they are extrinsically or intrinsically motivated:</p>

      </div>

      <div class="oj-question-bg">
        <div class="ians-column-wide-3 oj-question-bg-inner">

          <iframe src="https://trainingzone.h5p.com/content/1291437514236287957/embed" width="1088" height="637" frameborder="0" allowfullscreen="allowfullscreen" allow="autoplay *; geolocation *; microphone *; camera *; midi *; encrypted-media *"></iframe>

        </div>
      </div>

      <div class="ians-column">

        <h2>What Makes Your Trainee Tick?</h2>

        <p>Here are some examples of the kind of things that could be motivating your trainees:</p>

      </div>

      <div class="oj-atco-tick">
        <div class="ians-column-wide-4 ">
          <img class="oj-atco-tick-img" src="images/atco-tick.svg" alt="An Trainee with the text of her motivations around her.">
        </div>
      </div>

      <div class="ians-column">

        <ul class="sr-only">
          <li>career – for a trainee who doesn’t have a full licence yet.</li>
          <li>money – and all that it can bring to their life.</li>
          <li>security – which allows them to make longer term “life plans” .
love of the job.
</li>
          <li>love of the job.</li>
          <li>making progress during training – milestone checks within frame of UTP provides goals.</li>
          <li>overcoming challenges – working out how to overcome difficulties.</li>
          <li>feeling part of a team and being treated as an equal – for student licence holders.</li>
        </ul>

        <h2>OJTI and Student Motivation</h2>

        <p>To succeed, a trainee must be motivated to put in the effort and to push through if things get difficult. Remember though that <strong>you cannot force ‘motivation’</strong> on anyone. Motivation can only come from the trainee.   Understanding the factors that affect motivation will put you in a good position to use techniques that can positively influence your trainees’ motivation.</p>

        <p>Here are a few ways that you can help your trainees to stay motivated:</p>

      </div>

      <div class="ians-column-wide-4">

        <ol class="list-decimal list-inside ians-grid-3 oj-motivation-help">
          <li class="ians-bg-blue-dark oj-notched">
            Be clear about the training objectives
            <p>{% include "./images/icon-motivation-tick.svg" %} We will cover how to do this later in the course. For now, bear in mind how important it is for trainees to know <strong>what is expected of them</strong>. It can be both frustrating and demotivating if what they need to do is unclear.</p>
          </li>
          <li class="ians-bg-blue-dark oj-notched">
            Create a threat-free environment
            <p>{% include "./images/icon-motivation-tick.svg" %} Safe and supportive environments allow trainees to push themselves without fear of making mistakes. A significant amount of learning takes place when a trainee is able to <strong>objectively evaluate what they did wrong</strong> and how to do it differently next time.</p>
          </li>
          <li class="ians-bg-blue-dark oj-notched">
            Give trainees responsibility
            <p>{% include "./images/icon-motivation-tick.svg" %} Encourage trainees to take personal responsibility for their learning and <strong>help them identify</strong> what actions they could take to progress towards competence. This may include listening to your trainee when they express a need to return to the simulator to practice a technique (of course, if the learning environment of your unit enables this).</p>
          </li>
          <li class="ians-bg-blue-dark oj-notched">
            Allow trainees to work together when possible
            <p>{% include "./images/icon-motivation-tick.svg" %} Clearly, this is outside of the operational context. This might be in the simulator or classroom. For many trainees, working with and sharing challenges with their colleagues is a huge boost for their motivation. <strong>Create situations</strong> where they can work together.</p>
          </li>
          <li class="ians-bg-blue-dark oj-notched">
            Give positive feedback
            <p>{% include "./images/icon-motivation-tick.svg" %} Trainees are no different to anyone and it is a big boost to motivation when a trainee senses that the positive feedback that comes from the instructor is <strong>genuinely given</strong> and possibly more importantly, that the instructor is <strong>happy for the trainee</strong> that they have done well.</p>
          </li>
          <li class="ians-bg-blue-dark oj-notched">
            Set the example
            <p>{% include "./images/icon-motivation-tick.svg" %} If you are excited about a trainee progressing to competence and always putting in your best efforts to find a way for the trainee to learn, they will <strong>sense your enthusiasm</strong> and be motivated by it (or at worst, not want to let you down!). If you are genuinely interested in their success, it will motivate them to work harder.</p>
          </li>
        </ol>

      </div>
      <div class="ians-column">

        <p>And don’t forget that motivation is important not only during training. It is equally important for the trainee (and any controller for that matter) to <strong>remain motivated</strong> to learn and adapt as new procedures, systems and traffic patterns evolve.</p>

        <h2>Attitude</h2>

        <p>As an instructor, managing trainee attitudes can be challenging. What attitudes are important in ATM? How do you assess them and can someone ‘fail’ because of attitude?</p>

        <p>When instructing using a competence-based approach there are ways to ensure that the evaluation of attitude remains <strong>objective</strong> and focussed on performance.</p>

        <p>An attitude:</p>

        <ul class="list-disc list-inside">
          <li>
            Is a set of beliefs or state of mind that may influence an Trainee’s behaviour
          </li>
          <li>
            Is often directed at a person or a task
          </li>
          <li>
            May be positive, negative or neutral
          </li>
        </ul>

        <p>Remember though that this set of beliefs ‘may’ <strong>influence</strong> the Trainees behaviour. It is not a given that the beliefs will influence a behaviour. A person may believe that the rules of the road are ineffective and out of date, but still when driving they will respect those rules.</p>

        <p class="ians-text-instruction">Watch the following story:</p>

      </div>

      <div class="ians-column-wide-2">
        {% vimeo "642327787?h=c981e22450" %}
      </div>

      <div class="ians-column">

        <p class="ians-text-instruction">Watch Dragan and Jon to see the approach that Dragan took.</p>

      </div>

      <div class="ians-column-wide-2">
        {% vimeo "637038747?h=06684351c9" %}
      </div>

      <div class="ians-column">

        {# <iframe src="https://player.vimeo.com/video/637038747?h=06684351c9" width="640" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe> #}

        <h2>Managing counter-productive attitudes</h2>

        <p>If you think you are dealing with performance that is influenced by attitudes, consider the following:</p>

      </div>
      <div class="ians-column-wide-1 oj-lowlight oj-bad-attitude">

        <div class="ians-column">

          <p>{% include "./images/icon-lightbulb.svg" %} What attitude (belief) do I think I am observing?</p>

          <ul class="list-inside list-none">
            <li>{% include "./images/icon-arrow-right.svg" %}  Anti-rules, invulnerability, complacency, lack of co-operation?</li>
            <li>{% include "./images/icon-arrow-right.svg" %} This person believes that...</li>
          </ul>

          <p>{% include "./images/icon-lightbulb.svg" %} Do I need to check my assumption about the attitude?</p>

          <p>{% include "./images/icon-lightbulb.svg" %} What competencies are involved?</p>

          <p>{% include "./images/icon-lightbulb.svg" %} What impact did this attitude have on the operations?</p>

        </div>
      </div>

      <div class="ians-column">

        <p class="mb-12">And then focus the debriefing on the operational impact.</p>

      </div>
    </main>

    <footer>
      <p>&copy; EUROCONTROL</p>
    </footer>
    <script src="https://trainingzone.h5p.com/js/h5p-resizer.js" charset="UTF-8"></script>
    <script type="module" src="./main.js"></script>
    {% scrollToTop %}
  </body>
</html>