<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <meta name="description" content="desc">
    <meta name="generator" content="{{ eleventy.generator }}">

    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">

    <script type="module" defer src="{{ '/js/main.js' | url }}"></script>

  </head>
  <body>
    <header>
      <h1 class="home">
        <a href="{{ '/' | url }}">Home Page</a>
      </h1>

    </header>

    <main>

      {# <p>
        <a href="{{ '/page1' | url }}">Page 1</a>
      </p> #}

      {{ courseContent.tree | safe }}

    </main>

    <footer></footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>